@use '../../../../shared/css/variables' as *;
@use '../../../../shared/css/table';

// Fix column widths for holders table
.holder-rank {
  width: 60px;
  min-width: 60px;
}

.tx-hash {
  width: 140px;
  min-width: 140px;
}

.tx-ledger {
  width: 120px;
  min-width: 120px;
}

.tx-percent-supply {
  width: 110px;
  min-width: 110px;
}

.tx-value {
  width: 120px;
  min-width: 120px;
}
