@use '../../css/variables' as *;

.copy-button {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  &:hover,
  &:focus {
    color: $green-30;
  }

  .copy-tooltip {
    position: absolute;
    z-index: 1000;
    top: -32px;
    left: 50%;
    padding: 8px 12px;
    border-radius: 2px;
    background: rgb(0 0 0 / 90%);
    color: white;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    transform: translateX(-50%);
    white-space: nowrap;
    @include medium;

    &.copied {
      color: $green-30;
    }
  }
}

.copyable-text-with-icon {
  display: inline-flex;
  align-items: center;

  .copyable-text-value {
    color: $white;
  }

  .copy-icon-button {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    margin-left: 0.25em;
    background: transparent;
    cursor: pointer;
    vertical-align: -10%;

    .copy-icon {
      width: 1em;
      height: 11px;
      color: #f5f5f7;
      fill: none;
    }

    .copy-tooltip {
      position: absolute;
      z-index: 1000;
      top: -32px;
      left: 50%;
      padding: 8px 12px;
      border-radius: 2px;
      background: rgb(0 0 0 / 90%);
      color: white;
      font-size: 13px;
      font-weight: normal;
      line-height: 16px;
      transform: translateX(-50%);
      white-space: nowrap;
      @include medium;

      &.copied {
        color: $green-30;
      }
    }
  }

  &:hover .copy-icon-button,
  &:focus-within .copy-icon-button {
    display: inline-flex;
  }
}
