@use '../../shared/css/variables';

.paystring-table {
  .col-network,
  .col-environment,
  .col-address,
  .col-tag {
    @extend %truncate;

    vertical-align: middle;
  }

  .col-network {
    @include variables.bold;

    width: 80px;

    &.paystring-type {
      color: variables.$black-40;
    }
  }

  .col-environment {
    width: 80px;

    @include variables.for-size(desktop-up) {
      width: 135px; //calc(100% - 440px);
    }
  }

  .col-address {
    @include variables.medium;
  }

  .col-tag {
    width: 40px;
    text-align: right;
    @include variables.medium;

    @include variables.for-size(desktop-up) {
      width: 135px;
    }
  }
}
