@import '../../shared/css/variables';

.paystring-table {
  .col-network,
  .col-environment,
  .col-address,
  .col-tag {
    @extend %truncate;

    vertical-align: middle;
  }

  .col-network {
    @include bold;

    width: 80px;

    &.paystring-type {
      color: $gray-400;

      /* stylelint-disable selector-class-pattern -- Currency comes from server  */
      &.XRPL {
        color: $gray-400;
      }

      &.BTC {
        color: #f2a900;
      }

      &.ETH {
        color: #5dabd5;
      }

      a {
        color: inherit;
      }
      /* stylelint-enable selector-class-pattern */
    }
  }

  .col-environment {
    width: 80px;

    @include for-size(desktop-up) {
      width: 135px; //calc(100% - 440px);
    }
  }

  .col-address {
    @include medium;
  }

  .col-tag {
    width: 40px;
    text-align: right;
    @include medium;

    @include for-size(desktop-up) {
      width: 135px;
    }
  }
}
