@use '../../shared/css/variables';

.detail-body {
  margin-top: 20px;
  color: variables.$black-40;
  font-size: 12px;
  letter-spacing: 0px;

  .detail-section {
    padding: 5px 15px;
    border-bottom: 1px solid variables.$black-70;
    margin: 0px 0px 30px;

    &:last-child {
      border: none;
    }

    li {
      word-wrap: break-word;
    }

    @include variables.for-size(tablet-landscape-up) {
      width: 552px;
    }
    @include variables.for-size(desktop-up) {
      width: 772px;
    }
    @include variables.for-size(big-desktop-up) {
      width: 882px;
    }

    b {
      color: variables.$black-30;
      @include variables.medium;

      small {
        margin-left: 5px;
      }
    }

    ul {
      padding: 0px 30px;
      margin: 0px;

      li {
        ul {
          list-style: square;
        }

        li {
          margin: 0px;
          font-size: 14px;
        }
      }
    }

    .flags {
      font-style: italic;
    }

    .title {
      margin-bottom: 4px;
      color: variables.$white;
      font-size: 16px;
      text-transform: capitalize;
      @include variables.bold;

      span {
        margin-left: 8px;
        font-size: 10px;
        line-height: 18px;
      }
    }

    .detail-subtitle {
      margin-top: 16px;
      margin-bottom: 2px;
      color: variables.$black-40;
      font-size: 14px;
      text-transform: uppercase;
      @include variables.medium;
    }

    .ledger {
      @include variables.medium;
    }

    .tx-result.fail {
      color: variables.$orange-40;
    }

    .time {
      color: variables.$blue-purple-30;
    }

    .hash {
      @include variables.medium;
    }

    .condition,
    .fulfillment,
    .channel,
    .regular-key,
    .email,
    .message-key {
      color: variables.$blue-purple-30;
      font-size: 13px;
      word-break: break-all;
    }

    .domain {
      color: variables.$blue-purple-30;
    }

    .flag {
      color: variables.$blue-purple-30;
      font-style: italic;
    }

    .account {
      font-size: 11px;
      @include variables.bold;
    }

    .signers {
      margin: 5px 0px;
      list-style: decimal;

      li {
        margin: 2px;

        .label {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}
