@use '../../css/variables' as *;

.notification {
  border: 1px solid;
  border-radius: 4px;
  margin: 12px 0;
  background: $blue;
  color: $white;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  @include bold;

  span {
    padding: 0 22px;
  }

  &.primary-theme {
    color: $white;

    &.default {
      border-color: $blue;
      background: $blue;
    }

    &.success {
      border-color: $green;
      background: $green;
    }

    &.warning {
      border-color: $orange;
      background: $orange;
    }

    &.danger {
      border-color: $red;
      background: $red-dark;
    }

    &.dark {
      border-color: $black-100;
      background: $black-100;
    }

    &.dark50 {
      border-color: $black-50;
      background: $black-50;
    }

    &.light {
      border-color: $white;
      background: $white;
      color: $black-100;
    }
  }
}
