@use '../../css/variables';

.notification {
  border: 1px solid;
  border-radius: 4px;
  margin: 12px 0;
  background: variables.$blue;
  color: variables.$white;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  @include variables.bold;

  span {
    padding: 0 22px;
  }

  &.primary-theme {
    color: variables.$white;

    &.default {
      border-color: variables.$blue;
      background: variables.$blue;
    }

    &.success {
      border-color: variables.$green;
      background: variables.$green;
    }

    &.warning {
      border-color: variables.$orange;
      background: variables.$orange;
    }

    &.danger {
      border-color: variables.$red;
      background: variables.$red-dark;
    }

    &.dark {
      border-color: variables.$black-100;
      background: variables.$black-100;
    }

    &.dark50 {
      border-color: variables.$black-50;
      background: variables.$black-50;
    }

    &.light {
      border-color: variables.$white;
      background: variables.$white;
      color: variables.$black-100;
    }
  }
}
