@import '../shared/css/variables';

.app {
  position: relative;

  .custom-network-main-page {
    position: relative;
    min-height: 600px;
    color: $white;

    .logo-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: auto;
      margin: 97px auto 80px;
      text-align: center;

      .custom-network-logo {
        width: auto;
        height: auto;

        @include for-size(tablet-landscape-up) {
          width: 400px;
        }
      }

      .page-header {
        margin: 0 24px;
        font-size: 20px;
        @include bold;

        @include for-size(tablet-landscape-up) {
          font-size: 24px;
        }

        @include for-size(desktop-up) {
          font-size: 42px;
        }
      }

      .input-help {
        margin: 16px 0;
        font-size: 14px;
      }

      input {
        width: 50%;
        min-width: 300px;
        height: 40px;
        padding: 8px 16px;
        border: none;
        margin: 10px 16px;
        background-color: $gray-900;
        border-radius: 100px;
        color: $white;
        font-size: 16px;
        letter-spacing: 0.01em;
        line-height: 24px;

        &::placeholder {
          overflow: visible;
          color: $gray-400;
        }
      }

      .custom-network-input-button {
        box-sizing: border-box;
        padding: 8px 16px;
        border: 1px solid $custom;
        margin: 16px;
        border-radius: 100px;
        color: $custom;
        font-size: 14px;

        &:hover,
        &:focus {
          border: 1px solid $white;
          color: $white;
          cursor: pointer;
        }
      }
    }

    .custom-network-list {
      display: flex;
      flex-direction: column;
      align-items: normal;
      margin: 0% 10%;
      margin-bottom: 70px;
      font-size: 16px;
      text-align: left;

      .custom-network-header {
        padding-bottom: 24px;
        border-bottom: 1px solid $black-80;
        font-size: 20px;
        @include bold;

        @include for-size(tablet-landscape-up) {
          font-size: 24px;
        }
      }

      .custom-network-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 0;
        border-bottom: 1px solid $black-80;
        color: inherit;
        font-size: 16px;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $custom;
          cursor: pointer;
        }

        .custom-network-arrow {
          text-align: right;
        }
      }
    }
  }
}
