@use '../../shared/css/variables' as *;
@use '../../shared/css/table';

.vault-section {
  width: 100%;
  padding: 0 24px;

  @include for-size(desktop-up) {
    padding: 0 64px;
  }

  .vault-section-title {
    margin: 0 0 16px 0;
    color: $white;
    font-size: 24px;
    @include bold;
  }

  .vault-section-divider {
    margin-bottom: 24px;
    background: $black-70;
  }
}

.vault-details-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include for-size(desktop-up) {
    flex-direction: row;
    gap: 80px;
  }

  .details-column {
    flex: 1;
    min-width: 0;
  }
}
