@import '../../shared/css/variables.scss';

.balance-selector {
  position: relative;
  display: block;
  width: 100%;

  @include for-size(tablet-landscape-up) {
    width: 280px;
  }

  .balance-selector-button {
    position: relative;
    display: block;
    width: 100%;
    padding: 0px 0px 12px 0px;
    border: none;
    background: $black;
    color: $white;
    cursor: pointer;
    font-size: 14px;
    outline: inherit;
    text-align: left;

    @include for-size(desktop-up) {
      font-size: 16px;
    }
  }

  .menu-item {
    width: 100%;
    padding: 8px 16px;
    border-style: none;
    background-color: $black;
    color: $white;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    &:hover {
      background-color: $gray-900;
      color: $green;
    }

    @include for-size(desktop-up) {
      padding: 8px 16px;
      font-size: 16px;
    }
  }

  .menu-item-currency {
    @include bold;
  }

  .menu-item > div {
    overflow: hidden;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .selector-text {
    display: inline-block;
    padding: 2px 0px;
    margin-right: 8px;
    @include medium;
  }

  .selector-icon {
    display: inline-block;
    width: 14px;
    height: 8px;
    padding: 4px 0px 4px 4px;
    margin: 4px 0px;
    color: $gray-400;
    vertical-align: middle;

    @include for-size(desktop-up) {
      padding: 4px 5px;
      float: right;
    }

    &.selector-icon-close {
      width: 12px;
      height: 12px;
      margin: 2px 0px 2px 2px;
    }
  }

  &.is-active {
    .balance-selector-button {
      z-index: 100001;
    }

    .nested-items {
      position: absolute;
      z-index: 100000;
      right: 0;
      height: auto;
      border: 1px solid $gray-800;
      background-color: $black;
      border-radius: 9px;
      box-shadow: 0px 0px 5px 0px $gray-800;
      color: $gray-400;
    }
  }
}
