@import '../../shared/css/variables';

.account-header {
  margin-bottom: 16px;

  .box-header {
    margin-top: 106px;
    margin-bottom: 80px;
    text-align: left;

    .classic {
      margin: 0px;
      color: $white;
      font-size: 20px;
      @include bold;

      @include for-size(tablet-landscape-up) {
        font-size: 24px;
      }

      @include for-size(desktop-up) {
        font-size: 42px;
      }
    }

    .amm-title {
      padding-bottom: 4px;
      color: $gray-400;
      font-size: 14px;
      text-transform: uppercase;

      @include semibold;
    }

    .currency-pair {
      margin: 0px;
      padding: 5px;
      color: $white;
      font-size: 16px;
      display: inline-block;
      border-width: thin;
      border-style: solid;
      border-color: $grayTranslucent-400;
      @include semibold;

      @include for-size(tablet-landscape-up) {
        font-size: 10px;
      }

      @include for-size(desktop-up) {
        font-size: 20px;
      }
    }

    .amm {
      margin: 0px;
      color: $white;
      font-size: 18px;
      padding-right: 10px;
      display: inline-block;
      border-bottom: none;
      @include bold;

      @include for-size(tablet-landscape-up) {
        font-size: 10px;
      }

      @include for-size(desktop-up) {
        font-size: 23px;
      }
    }
  }

  .x-address {
    margin: 0;
    color: $white;
    font-size: 14px;
    @include bold;

    @include for-size(tablet-landscape-up) {
      font-size: 18px;
    }

    @include for-size(desktop-up) {
      font-size: 36px;
    }
  }

  .box-content {
    min-height: 100px;
    padding-bottom: 20px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 68px;

    @include for-size(desktop-up) {
      flex-direction: row;
      margin-top: 80px;
    }

    .values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
      color: $white;

      @include for-size(desktop-up) {
        flex-direction: column;
        margin-bottom: 0px;
      }

      .title {
        padding-bottom: 4px;
        color: $gray-400;
        font-size: 14px;
        text-transform: uppercase;
        @include semibold;
      }

      .value {
        color: $white;
        font-size: 18px;
        line-height: 22.5px;
        text-decoration: none;
        @include bold;
      }
    }
  }

  .column {
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @include for-size(desktop-up) {
      width: 450px;

      &.second {
        width: calc(100% - 450px);
        text-align: right;
      }
    }

    .secondary {
      padding: 0px 8px;
      margin-bottom: 20px;
      color: $gray-400;
      font-size: 12px;
      @include bold;

      @include for-size(desktop-up) {
        border: none;
      }

      .title {
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        @include medium;
      }

      .label {
        color: $white;
        text-transform: uppercase;
        @include medium;
      }

      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
          padding: 1px;
          vertical-align: top;

          a {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: none;
            vertical-align: middle;
            white-space: nowrap;
            @include medium;
          }

          b {
            color: $white;
            word-break: break-all;
            @include bold;
          }

          &.flags {
            color: $blue-grey;
            font-style: italic;
          }
        }
      }

      &.x-address ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (min-width: 450px) {
            display: block;
          }

          // .account {
          //   overflow: hidden;
          //   width: 285px;
          //   padding-right: 10px;
          //   text-overflow: ellipsis;
          //   white-space: nowrap;
          // }

          .tag {
            font-weight: 500;
          }

          .network {
            font-weight: 500;
          }

          // .weight {
          //   text-align: right;
          //   white-space: nowrap;
          // }

          // &.quorum {
          //   display: block;
          // }

          &.tag-info {
            padding-top: 14px;
            font-size: 14px;
          }
        }
      }

      &.signer-list ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (min-width: 450px) {
            display: block;
          }

          .account {
            overflow: hidden;
            width: 285px;
            padding-right: 10px;
            color: $white;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .weight {
            text-align: right;
            white-space: nowrap;
          }

          &.quorum {
            display: block;
          }
        }
      }

      &.balance {
        .value {
          overflow: hidden;
          margin: -4px 0px 5px -0.1em;
          color: $white;
          font-size: 26px;
          line-height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include regular;

          @include for-size(desktop-up) {
            font-size: 30px;
            line-height: 34px;
          }
        }

        .balance-selector-container {
          position: relative;
          margin-top: 10px;
        }
      }
    }
  }
}
