@use '../../shared/css/variables' as *;

.account-header {
  padding: 50px 0 30px;

  .deleted-banner {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid $orange-50;
    border-radius: 8px;
    margin-bottom: 30px;
    background: $black-90;
    gap: 12px;

    .deleted-label {
      display: flex;
      max-width: 180px;
      align-items: center;
      padding: 3px 12px;
      border: 1px solid $orange-50;
      border-radius: 100px;
      margin-bottom: 8px;
      background: $orange-80;
      color: $black-0;
      font-size: 12px;
      @include semibold;

      gap: 10px;
      text-transform: uppercase;

      .deleted-info-icon {
        width: 16px;
        height: 16px;
        margin-right: 3px;
      }
    }

    .deleted-message {
      margin: 0;
      color: $black-0;
      font-size: 16px;
    }
  }

  .address-panel {
    display: flex;
    height: auto;
    box-sizing: border-box;
    flex: none;
    flex-direction: column;
    flex-grow: 0;
    align-items: flex-start;
    align-self: stretch;
    order: 0;
    padding: 25px;
    border: 1px solid $black-70;
    border-radius: 8px;
    background: $black-90;
    gap: 10px;

    .address-label {
      color: $black-40;
      font-size: 14px;
      @include semibold;

      line-height: 1;
      text-transform: uppercase;
    }

    .address-value {
      display: inline-flex;
      align-items: center;
      color: $black-0;
      font-size: 24px;
      @include bold;

      line-height: 1;
      word-break: break-all;
    }

    .domain {
      display: flex;

      .domain-label {
        margin-right: 8px;
        color: $black-40;
        font-size: 14px;
        line-height: 1;
      }

      a {
        font-size: 14px;
        line-height: 1;
        word-break: break-all;
      }
    }

    .classic-address {
      display: flex;

      .classic-address-label {
        margin-right: 8px;
        color: $black-40;
        font-size: 14px;
        line-height: 1;
      }

      a {
        font-size: 14px;
        line-height: 1;
        word-break: break-all;
      }
    }

    .address-tag {
      display: flex;

      .address-tag-label {
        margin-right: 8px;
        color: $black-40;
        font-size: 14px;
        line-height: 1;
      }

      .address-tag-value {
        color: $black-0;
        font-size: 14px;
        line-height: 1;
        word-break: break-all;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 68px;

    @include for-size(desktop-up) {
      flex-direction: row;
      margin-top: 80px;
    }

    .values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
      color: $white;

      @include for-size(desktop-up) {
        flex-direction: column;
        margin-bottom: 0;
      }

      .title {
        padding-bottom: 4px;
        margin-bottom: 4.5px;
        color: $black-40;
        font-size: 14px;
        text-transform: uppercase;
        @include semibold;
      }

      .value {
        color: $white;
        font-size: 18px;
        line-height: 22.5px;
        text-decoration: none;
        @include bold;
      }
    }
  }
}
