@use '../../css/variables' as *;
@import 'react18-json-view/src/style.css';

.json-view-container {
  position: relative;

  &.show-background {
    padding: 24px;
    background-color: $black-80;
  }
}

.json-view {
  overflow: hidden;
  margin-bottom: 40px;
  color: $black-10 !important;
  font-size: 12px;
  letter-spacing: 0;

  @include for-size(phone-only) {
    padding-top: 85px;
  }

  svg {
    height: 11px !important;
    color: $black-10;
  }
}

.json-view-controls {
  position: absolute;
  z-index: 10;
  top: 24px;
  right: 24px;
  display: flex;
  height: auto;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 4px;

  @include for-size(phone-only) {
    position: absolute;
    top: 24px;
    right: auto;
    left: 24px;
    justify-content: flex-start;
    padding-top: 0;
  }
}

.json-view-expand-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 16px;
  border: 1px solid $white;
  border-radius: 100px;
  background: transparent;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  gap: 10px;
  line-height: 150%;
  transition: all 0.2s ease;
  @include regular;

  &:hover {
    background: $black-70;
  }

  &:focus {
    outline: none;
  }
}

.jv-button {
  color: $orange-50 !important;
  font-size: 14px;
}

.jv-indent {
  border-left: 1px solid $black-60;
  margin: 4px;
}

/* stylelint-disable selector-class-pattern -- react18-json-view uses these */
.json-view--boolean {
  color: $magenta-60 !important;
}

.json-view--pair {
  margin: 4px;
}

.json-view--property {
  color: $black-10 !important;
}

.json-view--null,
.json-view--undefined {
  display: inline-block;
  padding: 1px 2px;
  border-radius: 3px;
  background-color: $black-60;
  color: $black-10 !important;
  font-size: 11px;
}

.json-view--number {
  color: $green-30 !important;
}

.json-view--string {
  color: $orange-50 !important;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* stylelint-enable selector-class-pattern */
