@use '../../css/variables' as *;
@import 'react18-json-view/src/style.css';

.json-view {
  overflow: hidden;
  margin-bottom: 40px;
  color: $black-10 !important;
  font-size: 12px;
  letter-spacing: 0;

  svg {
    height: 11px !important;
    color: $black-10;
  }
}

.jv-button {
  color: $orange-50 !important;
  font-size: 14px;
}

.jv-indent {
  border-left: 1px solid $black-60;
  margin: 4px;
}

/* stylelint-disable selector-class-pattern -- react18-json-view uses these */
.json-view--boolean {
  color: $magenta-60 !important;
}

.json-view--pair {
  margin: 4px;
}

.json-view--property {
  color: $black-10 !important;
}

.json-view--null,
.json-view--undefined {
  display: inline-block;
  padding: 1px 2px;
  border-radius: 3px;
  background-color: $black-60;
  color: $black-10 !important;
  font-size: 11px;
}

.json-view--number {
  color: $green-30 !important;
}

.json-view--string {
  color: $orange-50 !important;
}

/* stylelint-enable selector-class-pattern */
