@import '../shared/css/variables.scss';

.token-page {
  width: 100%;

  .loader {
    min-height: 100px;
    background: $black;
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
}
