@import '../../shared/css/variables';
@import '../../shared/css/table';

.section {
  margin: 0px 32px;
  @include for-size(tablet-landscape-up) {
    width: 552px;
    margin: 0px auto;
  }

  @include for-size(desktop-up) {
    width: 1140px;
  }
}

.header-container {
  .bottom-container {
    display: flex;
    flex-direction: column;

    @include for-size(desktop-up) {
      flex-direction: row;
    }

    .details {
      width: 100%;
      @include for-size(desktop-up) {
        width: 490px;
      }
    }

    .settings {
      width: 100%;
      @include for-size(desktop-up) {
        width: 650px;
      }
    }

    .title {
      padding: 64px 0px 18px;
      border-bottom: 1px $gray-800 solid;
      color: $white;
      font-size: 24px;
      @include bold;

      @include for-size(desktop-up) {
        padding-top: 80px;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 68px;

    @include for-size(desktop-up) {
      flex-direction: row;
      margin-top: 80px;
    }

    .values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
      color: $white;

      @include for-size(desktop-up) {
        flex-direction: column;
        margin-bottom: 0px;
      }

      .title {
        padding-bottom: 4px;
        color: $gray-400;
        font-size: 14px;
        text-transform: uppercase;
        @include semibold;
      }

      .value {
        color: $white;
        font-size: 18px;
        line-height: 22.5px;
        text-decoration: none;
        @include bold;
      }
    }
  }
}

.bottom-label {
  width: 144px;
  padding-bottom: 4px;
  color: $gray-400;
  font-size: 14px;
  text-transform: uppercase;
}

.bottom-value {
  color: $white;
}

.token-header {
  margin-bottom: 16px;

  .box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 106px;
    text-align: left;

    span {
      margin: 0px;
      color: $white;
      font-size: 32px;
      @include bold;

      @include for-size(tablet-landscape-up) {
        font-size: 42px;
      }
    }

    img {
      width: 24px;
      height: 24px;
      margin-left: 16px;
      object-fit: contain;
    }
  }

  .box-content {
    min-height: 100px;
    padding-bottom: 20px;
  }

  .column {
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @include for-size(desktop-up) {
      width: 450px;

      &.second {
        width: calc(100% - 450px);
        text-align: right;
      }
    }

    .secondary {
      padding: 0px 8px;
      border-bottom: 1px solid $black-20;
      margin-bottom: 20px;
      color: $black-90;
      font-size: 12px;
      @include bold;

      @include for-size(desktop-up) {
        border: none;
      }

      .title {
        color: $black-40;
        font-size: 14px;
        text-transform: uppercase;
        @include medium;
      }

      .label {
        color: $black-40;
        text-transform: uppercase;
        @include medium;
      }

      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
          padding: 1px;
          vertical-align: top;

          a {
            display: inline-block;
            overflow: hidden;
            color: inherit;
            text-overflow: ellipsis;
            text-transform: none;
            vertical-align: middle;
            white-space: nowrap;
            @include medium;
          }

          b {
            color: $white;
            word-break: break-all;
            @include bold;
          }

          &.flags {
            color: $blue-grey;
            font-style: italic;
          }
        }
      }

      &.x-address ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (min-width: 450px) {
            display: block;
          }

          .tag {
            font-weight: 500;
          }

          .network {
            font-weight: 500;
          }

          // .weight {
          //   text-align: right;
          //   white-space: nowrap;
          // }

          // &.quorum {
          //   display: block;
          // }

          &.tag-info {
            padding-top: 14px;
            font-size: 14px;
          }
        }
      }

      &.signer-list ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (min-width: 450px) {
            display: block;
          }

          .account {
            overflow: hidden;
            width: 285px;
            padding-right: 10px;
            color: $white;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .weight {
            text-align: right;
            white-space: nowrap;
          }

          &.quorum {
            display: block;
          }
        }
      }

      &.balance {
        .value {
          overflow: hidden;
          margin: -4px 0px 5px -0.1em;
          color: $white;
          font-size: 26px;
          line-height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include regular;

          @include for-size(desktop-up) {
            font-size: 30px;
            line-height: 34px;
          }
        }

        .balance-selector-container {
          position: relative;
          margin-top: 10px;
        }
      }
    }
  }
}
