@use '../../shared/css/variables';
@use '../../shared/css/table';

.header-container {
  .bottom-container {
    display: flex;
    flex-direction: column;
    padding-top: 64px;

    @include variables.for-size(desktop-up) {
      flex-direction: row;
      padding-top: 80px;
    }

    .details {
      width: 100%;
      @include variables.for-size(desktop-up) {
        width: 490px;
      }
    }

    .settings {
      width: 100%;
      @include variables.for-size(desktop-up) {
        width: 650px;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 68px;

    @include variables.for-size(desktop-up) {
      flex-direction: row;
      margin-top: 80px;
    }

    .values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
      color: variables.$white;

      @include variables.for-size(desktop-up) {
        flex-direction: column;
        margin-bottom: 0px;
      }

      .title {
        padding-bottom: 4px;
        color: variables.$black-40;
        font-size: 14px;
        text-transform: uppercase;
        @include variables.semibold;
      }

      .value {
        color: variables.$white;
        font-size: 18px;
        line-height: 22.5px;
        text-decoration: none;
        @include variables.bold;
      }
    }
  }
}

.token-header {
  margin-bottom: 16px;

  .box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 106px;
    text-align: left;

    span {
      margin: 0px;
      color: variables.$white;
      font-size: 32px;
      @include variables.bold;

      @include variables.for-size(tablet-landscape-up) {
        font-size: 42px;
      }
    }

    img {
      width: 24px;
      height: 24px;
      margin-left: 16px;
      object-fit: contain;
    }
  }

  .box-content {
    min-height: 100px;
    padding-bottom: 20px;
  }

  .column {
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @include variables.for-size(desktop-up) {
      width: 450px;

      &.second {
        width: calc(100% - 450px);
        text-align: right;
      }
    }

    .secondary {
      padding: 0px 8px;
      border-bottom: 1px solid variables.$black-20;
      margin-bottom: 20px;
      color: variables.$black-90;
      font-size: 12px;
      @include variables.bold;

      @include variables.for-size(desktop-up) {
        border: none;
      }

      .title {
        color: variables.$black-40;
        font-size: 14px;
        text-transform: uppercase;
        @include variables.medium;
      }

      .label {
        color: variables.$black-40;
        text-transform: uppercase;
        @include variables.medium;
      }

      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
          padding: 1px;
          vertical-align: top;

          a {
            display: inline-block;
            overflow: hidden;
            color: inherit;
            text-overflow: ellipsis;
            text-transform: none;
            vertical-align: middle;
            white-space: nowrap;
            @include variables.medium;
          }

          b {
            color: variables.$white;
            word-break: break-all;
            @include variables.bold;
          }

          &.flags {
            color: variables.$blue-purple-30;
            font-style: italic;
          }
        }
      }

      &.x-address ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (width >= 450px) {
            display: block;
          }

          .tag {
            font-weight: 500;
          }

          .network {
            font-weight: 500;
          }

          &.tag-info {
            padding-top: 14px;
            font-size: 14px;
          }
        }
      }

      &.signer-list ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (width >= 450px) {
            display: block;
          }

          .account {
            overflow: hidden;
            width: 285px;
            padding-right: 10px;
            color: variables.$white;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .weight {
            text-align: right;
            white-space: nowrap;
          }

          &.quorum {
            display: block;
          }
        }
      }
    }
  }
}
