@import '../../css/variables';

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  white-space: nowrap;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 8px;
  border: solid 1px $white;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 700;
  gap: 0 8px;

  .arrow {
    height: 1em;
    margin-left: auto;
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  z-index: 100;
  display: none;
  min-width: max(100%, 160px);
  padding: 8px;
  border: 1px solid $black-80;
  border-radius: 8px;
  margin-top: 5px;
  background: rgba($black, 0.96);
}

.dropdown-item {
  padding: 12px 8px;
  font-weight: normal;

  @at-root {
    a#{&} {
      display: flex;
      align-items: center;
      color: $white;
      gap: 0 12px;

      &::after {
        display: none;
      }

      &:hover {
        background: $black-80;
        cursor: pointer;
      }
    }
  }

  input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: $black-80;
    color: $white;
    font-size: inherit;

    &::placeholder {
      color: $black-40;
    }
  }

  .btn-remove {
    padding: 8px;
    margin-left: auto;
    background: url('../../images/close.png') center no-repeat;
    background-size: 8px;
  }
}

.dropdown-expanded {
  .arrow {
    transform: rotate(180deg);
  }

  .dropdown-menu {
    display: block;
  }
}
