@import '../../shared/css/variables';

@mixin dropdown-network-item($background, $border: $black, $color: $white) {
  background: $background;

  .dropdown {
    border-color: $border;
    background: $background;
    color: $color;

    .item {
      background: $background;
    }
  }
}

.network {
  display: flex;
  height: 23px;

  .arrow-container {
    align-items: center;
    display: flex;
    width: 100%;

    .arrow {
      width: 10px;
      color: $white;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown {
    position: relative;
    z-index: 10000;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-shrink: 0;
    background: $black-100;
    color: $white;
    cursor: pointer;
    font-size: 12px;
    line-height: 23px;
    text-transform: capitalize;
    @include bold;

    img {
      width: 12px;
      padding: 2px 2px 2px 10px;
      margin: 4px 0px;
      vertical-align: middle;
    }

    .item {
      display: none;

      &.input {
        padding-bottom: 2px;
      }

      &.selected {
        display: flex;
        justify-content: space-between;
      }

      .check {
        display: none;
      }

      span {
        display: inline;
      }
    }

    &.expanded {
      border: 1px solid $black-100;
      border-radius: 5px;

      .bg {
        position: fixed;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        background: $black-100;

        &.input {
          padding: 0 3px;
        }

        &.selected .check {
          display: initial;
        }

        &:hover {
          color: $black-70;
        }
      }
    }
  }

  .custom {
    text-transform: none;
  }

  &.mainnet {
    .check path {
      fill: $white;
    }
  }

  &.testnet {
    @include dropdown-network-item($testnet);
  }

  &.devnet {
    @include dropdown-network-item($devnet);
  }

  &.amm {
    @include dropdown-network-item($amm);
  }

  &.custom {
    @include dropdown-network-item($custom, $custom, $black);

    .arrow path {
      fill: $black;
    }
  }
}
