@use 'sass:color';
@import '../../../shared/css/variables';

.transaction-table {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  list-style: none;
  table-layout: fixed;

  @include for-size(desktop-up) {
    font-size: 14px;
  }

  .upper {
    padding: 12px 32px;
    color: $white;
    font-size: 14px;
  }

  .col-type,
  .col-account,
  .col-status,
  .col-token,
  .col-date {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  .col-type {
    width: 180px;
    letter-spacing: 0;
    @include semibold;

    @include for-size(desktop-up) {
      width: 230px;
    }
  }

  .col-token {
    width: 50px;
    letter-spacing: 0px;

    @include for-size(desktop-up) {
      width: calc(100% - 915px);
    }
  }

  .col-status {
    width: 50px;
    letter-spacing: 0;
    @include regular;

    .status {
      display: none;
    }

    @include for-size(desktop-up) {
      width: 130px;

      .status {
        display: initial;
      }
    }
  }

  .col-account {
    display: none;
    letter-spacing: 0;

    .transaction-address {
      color: $black-70;
      @include medium;
    }

    @include for-size(tablet-landscape-up) {
      display: inline-block;
      width: calc(100% - 675px);
    }

    @include for-size(desktop-up) {
      width: calc(100% - 715px);
    }

    @include for-size(big-desktop-up) {
      width: calc(100% - 715px);
    }
  }

  .col-date {
    width: calc(100% - 230px);
    text-align: right;
    @include medium;

    @include for-size(tablet-landscape-up) {
      display: inline-block;
      width: calc(100% - 280px);
    }

    @include for-size(desktop-up) {
      width: 185px;
    }
  }

  .details {
    min-height: 30px;
    padding: 32px;
    background: rgba($black-70, 0.5);
    color: $black-40;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    @include regular;

    @include for-size(tablet-landscape-up) {
      font-size: 12px;
    }

    &:empty {
      min-height: 0;
      padding: 0;
      margin-bottom: 0;
    }

    .currency,
    .account {
      text-transform: none;
    }

    .currency {
      margin-left: 5px;
    }

    span {
      display: inline-block;
      margin-right: 5px;

      span {
        margin: 0;
      }
    }

    .label {
      @include bold;
    }

    small {
      margin-left: 5px;
    }

    .partial-payment,
    .closed,
    .flag,
    .unsetregularkey {
      font-style: italic;
      text-transform: none;
    }

    .key,
    .domain,
    .account,
    .email-hash,
    .message-key {
      text-transform: none;
    }

    .partial-payment,
    .closed {
      color: $red-dark;
    }

    .flag {
      color: $blue-purple-30;
    }

    .condition,
    .fulfillment {
      word-break: break-all;
    }
  }

  .transaction-li {
    position: relative;
    display: block;
    border-left: 4px solid;
    margin-bottom: 1px;
    line-height: 20px;

    .transaction-address {
      overflow: hidden;
      color: $white;
      text-overflow: ellipsis;
    }

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
      padding: 0;
      border-width: 0;
      border-radius: 0;
    }

    &.fail {
      opacity: 0.8;
    }

    &:hover {
      .upper {
        background-color: rgba($black-70, 0.7);
      }
    }
  }

  .transaction-li.transaction-li-header {
    display: block;
    padding: 0 32px 18px;
    border-left-color: transparent;
    font-size: 10px;
    text-transform: uppercase;

    @include for-size(desktop-up) {
      border-left: 0;
    }

    &:hover {
      background-color: inherit;
    }

    .col-type,
    .col-account,
    .col-status,
    .col-token,
    .col-date {
      border: none;
      color: $black-50;
      @include bold;
    }

    @include for-size(tablet-landscape-up) {
      border-radius: 4px;
    }
  }
}

.empty-transactions-message {
  padding: 16px;
  color: $black-40;
  font-size: 16px;
  text-align: center;
}

.load-more-btn {
  display: block;
  padding: 10px 20px;
  border: 1px solid $black-40;
  margin: 10px auto;
  background: $black;
  border-radius: 100px;
  color: $black-40;
  cursor: pointer;
  font-size: 16px;
  outline: inherit;
  @include bold;

  &:hover {
    background: $black-70;
  }
}
