@use 'sass:color';
@import '../../../shared/css/variables';

.transaction-table {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  list-style: none;
  table-layout: fixed;

  @include for-size(desktop-up) {
    font-size: 14px;
  }

  .upper {
    display: flex;
    align-items: stretch;
    padding: 12px 16px;
    color: $white;
    font-size: 14px;
    gap: 0 12px;

    @include for-size(tablet-landscape-up) {
      padding: 12px 32px;
    }
  }

  .col {
    display: flex;
    flex: 1;
    align-items: center;
    letter-spacing: 0;
    @extend %truncate;
  }

  .col-type {
    flex: 2;

    @include semibold;
    @include for-size(desktop-up) {
      width: 230px;
    }
  }

  .col-token {
    width: 40px;
  }

  .col-status {
    width: 50px;
    @include regular;

    .status {
      display: none;
    }

    @include for-size(tablet-landscape-up) {
      .status {
        display: initial;
      }
    }

    @include for-size(desktop-up) {
      width: auto;
      flex: 2 2;
    }
  }

  .col-account {
    display: none;
    flex: 3;

    .upper & {
      color: $black-70;
      @include medium;
    }

    @include for-size(tablet-landscape-up) {
      display: inline-block;
    }
  }

  .col-date {
    flex: 3;
    justify-content: right;
    @include medium;

    @include for-size(desktop-up) {
      width: 185px; // We know the width because dates can only be so big
      flex: none;
    }
  }

  .details {
    min-height: 30px;
    padding: 32px;
    background: rgba($black-70, 0.5);
    color: $black-40;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    @include regular;

    @include for-size(tablet-landscape-up) {
      font-size: 12px;
    }

    &:empty {
      min-height: 0;
      padding: 0;
      margin-bottom: 0;
    }

    .tx-status {
      margin-bottom: 5px;
    }

    .currency,
    .account {
      text-transform: none;
    }

    .currency {
      margin-left: 5px;
    }

    span {
      display: inline-block;
      margin-right: 5px;

      span {
        margin: 0;
      }
    }

    .label {
      @include bold;
    }

    small {
      margin-left: 5px;
    }

    .partial-payment,
    .closed,
    .flag,
    .unsetregularkey {
      font-style: italic;
      text-transform: none;
    }

    .key,
    .domain,
    .account,
    .email-hash,
    .message-key {
      text-transform: none;
    }

    .partial-payment,
    .closed {
      color: $red-dark;
    }

    .flag {
      color: $blue-purple-30;
    }

    .condition,
    .fulfillment {
      word-break: break-all;
    }
  }

  .transaction-li {
    position: relative;
    display: block;
    border-bottom: solid 1px $black-70;
    line-height: 20px;

    .transaction-address {
      overflow: hidden;
      color: $white;
      text-overflow: ellipsis;
    }

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
      padding: 0;
    }

    &.fail {
      opacity: 0.8;
    }

    &:hover {
      .upper {
        background-color: rgba($black-70, 0.7);
      }
    }
  }

  .transaction-li.transaction-li-header {
    display: flex;
    padding: 0 16px 18px;
    font-size: 10px;
    gap: 0 12px;
    text-transform: uppercase;

    @include for-size(tablet-landscape-up) {
      padding: 12px 32px;
    }

    &:hover {
      background-color: inherit;
    }

    .col {
      color: $black-50;
      @include bold;
    }
  }
}

.empty-transactions-message {
  padding: 16px;
  color: $black-40;
  font-size: 16px;
  text-align: center;
}

.load-more-btn {
  display: block;
  padding: 10px 20px;
  border: 1px solid $black-40;
  border-radius: 100px;
  margin: 10px auto;
  background: $black;
  color: $black-40;
  cursor: pointer;
  font-size: 16px;
  outline: inherit;
  @include bold;

  &:hover {
    background: $black-70;
  }
}
