@import '../../shared/css/variables.scss';

.tokens-header-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: top;

  .title {
    color: #fff;

    @include bold;

    @include for-size(phone-only) {
      font-size: 18px;
    }

    @include for-size(tablet-portrait-up) {
      font-size: 22px;
    }

    @include for-size(tablet-landscape-up) {
      font-size: 24px;
    }

    @include for-size(desktop-up) {
      font-size: 42px;
    }
  }

  .total-group {
    display: flex;
    align-items: center;
    justify-content: right;

    .total-tokens-container {
      margin-left: 32px;

      @include for-size(phone-only) {
        margin-left: 10px;
      }
    }
  }
}

.label {
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 4px 0px;
  color: #9ba2b0;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: right;
  text-transform: uppercase;

  @include for-size(phone-only) {
    font-size: 10px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 11px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 11px;
  }

  @include for-size(desktop-up) {
    font-size: 14px;
  }
}

.value {
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 0px 8px;
  color: #fff;
  font-size: 18px;
  line-height: 125%;
  text-align: right;

  @include bold;

  @include for-size(phone-only) {
    font-size: 11px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 12px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 13px;
  }

  @include for-size(desktop-up) {
    font-size: 18px;
  }
}
