@import '../../shared/css/variables';
@import '../../shared/css/table';

.nft-tabs {
  margin-top: 60px;
}

.offers-table {
  position: relative;
  min-height: 150px;

  table {
    .no-info-panel {
      color: $black-40;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      text-align: center;

      .no-info-content {
        display: flex;
        flex-direction: column;

        img {
          max-width: 100%;
          height: auto;
          margin: 10px auto;
        }
      }
    }

    .offer-id {
      width: 55%;
      padding-left: 32px;

      @include for-size(tablet-portrait-up) {
        max-width: 140px;
      }

      @include for-size(big-desktop-up) {
        max-width: 180px;
      }
    }

    .amount {
      display: table-cell;
      width: 15%;
      padding-right: 32px;
      @include medium;

      span.amount {
        padding: 0;
      }
    }

    .owner {
      display: table-cell;
      width: 30%;
      min-width: 0;
      @include for-size(tablet-portrait-up) {
        max-width: 80px;
      }

      @include for-size(big-desktop-up) {
        max-width: 120px;
      }
      @include medium;
    }
    @include for-size(tablet-landscape-up) {
      .offer-id {
        display: table-cell;
      }
    }
  }
}
