@import '../../shared/css/variables.scss';

.section {
  margin: 0px 32px;
  @include for-size(tablet-landscape-up) {
    width: 552px;
    margin: 0px auto;
  }

  @include for-size(desktop-up) {
    width: 1140px;
  }
}

.header-container {
  .note-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 0px;

    @include for-size(desktop-up) {
      flex-direction: row;
    }
    .note-left {
      // flex: 0 50px 50px;
      height: 15px;
      padding: 64px 0px 0px 5px;
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #9ba2b0;
      display: flex;
      align-items: end;
    }

    .note-right {
      /* xrpl/small/small */

      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      /* identical to box height, or 21px */
      display: flex;
      align-items: end;
      text-align: right;

      /* Gray/400 */

      color: #9ba2b0;
    }
  }
  .bottom-container {
    display: flex;
    flex-direction: column;

    @include for-size(desktop-up) {
      flex-direction: row;
    }

    .details {
      width: 100%;
      @include for-size(desktop-up) {
        width: 490px;
      }
    }

    .settings {
      width: 100%;
      @include for-size(desktop-up) {
        width: 650px;
      }
    }

    .title {
      padding: 64px 0px 18px 0px;
      border-bottom: 1px $gray-800 solid;
      color: $white;
      font-size: 24px;
      @include bold;

      @include for-size(desktop-up) {
        padding-top: 80px;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 68px;

    @include for-size(desktop-up) {
      flex-direction: row;
      margin-top: 80px;
    }

    .values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;
      color: $white;

      @include for-size(desktop-up) {
        flex-direction: column;
        margin-bottom: 0px;
      }

      .title {
        padding-bottom: 4px;
        color: $gray-400;
        font-size: 14px;
        text-transform: uppercase;
        @include semibold;
      }
      .value {
        display: flex;

        .value-content {
          /* xrpl/head/head3 */
          margin: auto;
          font-family: 'Work Sans', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 125%;
          /* identical to box height, or 22px */
          color: $white;
          font-size: 18px;
          line-height: 22.5px;
          text-decoration: none;
          @include bold;
          text-align: right;

          /* Primary/White */

          color: #ffffff;
        }
        input {
          margin-left: 10px;
          width: 24px;
          height: 24px;

          /* Inside auto layout */

          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
  }
}

table {
  margin-top: 24px;
  font-size: 14px;

  .col1 {
    width: 180px;
    padding-bottom: 8px;
    color: $gray-400;
    text-transform: uppercase;
    @include semibold;
  }
  .col2 {
    padding-bottom: 8px;
    color: $white;

    a {
      color: $green;
      text-decoration: none;
    }

    input {
      position: absolute;
      width: 17px;
      height: 17px;
      margin-left: 8.42px;
    }
  }
}

.bottom-label {
  width: 144px;
  padding-bottom: 4px;
  color: $gray-400;
  font-size: 14px;
  text-transform: uppercase;
}

.bottom-value {
  color: $white;
}

.token-header {
  margin-bottom: 16px;

  .box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 106px;
    text-align: left;

    span {
      margin: 0px;
      color: $white;
      font-size: 32px;
      overflow-wrap: anywhere;
      @include bold;

      @include for-size(tablet-landscape-up) {
        font-size: 42px;
      }
      .token-type {
        width: 29px;
        height: 18px;
        display: inline;
        /* xrpl/head/head1 */

        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 125%;
        /* identical to box height, or 18px */

        /* Primary/White */

        color: #ffffff;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 12px;

        width: 53px;
        height: 22px;

        /* Secondary/Blue-Purple */

        background: #791aff;
        /* Blue-Purple/600 */

        border: 1px solid #5f00e6;
        box-shadow: 0px 1px 1px #5f00e5;
        border-radius: 30px;

        .subscript {
          /* Inside auto layout */
          margin: auto;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }
    img {
      width: 24px;
      height: 24px;
      margin-left: 16px;
      object-fit: contain;
    }
  }

  .box-content {
    min-height: 100px;
    padding-bottom: 20px;
  }

  .column {
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @include for-size(desktop-up) {
      width: 450px;

      &.second {
        width: calc(100% - 450px);
        text-align: right;
      }
    }

    .secondary {
      padding: 0px 8px;
      border-bottom: 1px solid $black-20;
      margin-bottom: 20px;
      color: $black-90;
      font-size: 12px;
      @include bold;

      @include for-size(desktop-up) {
        border: none;
      }

      .title {
        color: $black-40;
        font-size: 14px;
        text-transform: uppercase;
        @include medium;
      }

      .label {
        color: $black-40;
        text-transform: uppercase;
        @include medium;
      }

      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
          padding: 1px;
          vertical-align: top;

          a {
            display: inline-block;
            overflow: hidden;
            color: inherit;
            text-decoration: none;
            text-overflow: ellipsis;
            text-transform: none;
            vertical-align: middle;
            white-space: nowrap;
            @include medium;
          }

          b {
            color: $white;
            word-break: break-all;
            @include bold;
          }

          &.flags {
            color: $blue-grey;
            font-style: italic;
          }
        }
      }

      &.xAddress ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (min-width: 450px) {
            display: block;
          }

          // .account {
          //   overflow: hidden;
          //   width: 285px;
          //   padding-right: 10px;
          //   text-overflow: ellipsis;
          //   white-space: nowrap;
          // }

          .tag {
            font-weight: 500;
          }

          .network {
            font-weight: 500;
          }

          // .weight {
          //   text-align: right;
          //   white-space: nowrap;
          // }

          // &.quorum {
          //   display: block;
          // }

          &.tag-info {
            padding-top: 14px;
            font-size: 14px;
          }
        }
      }

      &.signerList ul {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;

          @media (min-width: 450px) {
            display: block;
          }

          .account {
            overflow: hidden;
            width: 285px;
            padding-right: 10px;
            color: $white;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .weight {
            text-align: right;
            white-space: nowrap;
          }

          &.quorum {
            display: block;
          }
        }
      }

      &.balance {
        .value {
          overflow: hidden;
          margin: -4px 0px 5px -0.1em;
          color: $white;
          font-family: 'currency_symbols', 'Space Mono', monospace;
          font-size: 26px;
          line-height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include regular;

          @include for-size(desktop-up) {
            font-size: 30px;
            line-height: 34px;
          }
        }

        .balance-selector-container {
          position: relative;
          margin-top: 10px;
        }
      }
    }
  }
}
