@import './variables';

.box {
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgb(59 65 71 / 25%);
}

.box-header,
.box-content {
  padding: 16px;

  @include for-size(desktop-up) {
    padding: 24px;
  }
}

.box-header {
  border-bottom: 1px solid $black-20;
}

.box-header > .icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  float: left;
}

.box-header > h2 {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 22px;

  @include for-size(desktop-up) {
    font-size: 20px;
  }
}
