@use 'variables';

label {
  color: variables.$black-40;

  &.selected {
    color: variables.$white;
    font-weight: bold;
  }
}

.radio-group {
  label + label {
    margin-left: 10px;
  }
}

input {
  border-radius: variables.$border-radius;

  &[type='text'] {
    &:hover,
    &:focus {
      background-color: variables.$black-80;
    }

    &:focus {
      outline: solid 1px variables.$blue-purple-40 !important;
    }
  }

  &[type='radio'] {
    height: 16px;
    accent-color: variables.$green;
  }
}
