@import './variables';

label {
  color: $black-40;

  &.selected {
    color: $white;
    font-weight: bold;
  }
}

.radio-group {
  label + label {
    margin-left: 10px;
  }
}

input {
  border-radius: $border-radius;

  &[type='text'] {
    &:hover,
    &:focus {
      background-color: $black-80;
    }

    &:focus {
      outline: solid 1px $blue-purple-40 !important;
    }
  }

  &[type='radio'] {
    height: 16px;
    accent-color: $green;
  }
}
