// ONLY GLOBAL CSS, KEEP IT TO MINIMAL
// CSS SHOULD BE SCOPPED TO COMPONENT
@import './variables';
@import './form';

/**
 * `current_symbols` is used for currency codes missing from other fonts, currently `u+e900` (XRP) and `u+e901` (BTC).
 *
 * By using unicode-range we specify which character points this font-family can be used for. When used in a style (and
 * assuming this font family is first/takes precedent), only these characters will use this font-face. Anything else
 * will fall through to the subsequent font-family.
 */
@font-face {
  font-family: 'currency_symbols';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/currency_symbols.ttf') format('truetype'),
    url('../fonts/currency_symbols.woff') format('woff');
  unicode-range: u+e900-e901;
}

body,
input {
  padding: 0px;
  margin: 0px;
  background-color: $black;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  letter-spacing: 0.5px;
}

body,
input,
button {
  font-family: 'currency_symbols', 'Work Sans', system-ui, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.clear {
  clear: both;
}

* {
  outline: none !important; // remove blue outline in click and focus
}

svg.react-stockchart {
  z-index: auto !important;
  left: 0px;
}

div.react-stockchart div {
  z-index: auto !important;
}

.async-component-error {
  margin: 0px auto;
  color: $black-40;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  @include bold;
}

.tx-type {
  border-left-color: $black;
  color: $black;

  &.bg {
    background: $black;
  }

  @include transaction-type(AccountSet, $accountset);
  @include transaction-type(CheckCancel, $checkcancel);
  @include transaction-type(CheckCash, $checkcash);
  @include transaction-type(CheckCreate, $checkcreate);
  @include transaction-type(EscrowCancel, $escrowcancel);
  @include transaction-type(EscrowCreate, $escrowcreate);
  @include transaction-type(EscrowFinish, $escrowfinish);
  @include transaction-type(OfferCancel, $offercancel);
  @include transaction-type(OfferCreate, $offercreate);
  @include transaction-type(TicketCreate, $ticketcreate);
  @include transaction-type(Payment, $payment);
  @include transaction-type(PaymentChannelClaim, $paymentchannelclaim);
  @include transaction-type(PaymentChannelCreate, $paymentchannelcreate);
  @include transaction-type(PaymentChannelFund, $paymentchannelfund);
  @include transaction-type(EnableAmendment, $enableamendment);
  @include transaction-type(SetFee, $setfee);
  @include transaction-type(SetRegularKey, $setregularkey);
  @include transaction-type(SignerListSet, $signerlistset);
  @include transaction-type(TrustSet, $trustset);
  @include transaction-type(UNLModify, $unlmodify);

  /* stylelint-disable selector-class-pattern -- Name of class is TransactionType */
  &.NFTokenAcceptOffer,
  &.NFTokenBurn,
  &.NFTokenCancelOffer,
  &.NFTokenCreateOffer,
  &.NFTokenMint {
    @include transaction-type-base($nft);
  }

  &.XChainCreateBridge,
  &.XChainCreateClaimID {
    @include transaction-type-base($sidechain);
  }
  /* stylelint-enable selector-class-pattern */
}

.tx-result {
  &.success {
    color: $green;
  }

  &.fail {
    color: $orange-600;
  }
}

.label {
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

.flex-table {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;

    .value {
      font-size: 14px;
    }
  }

  .spacer {
    margin-bottom: 15px;
  }
}

a {
  color: $green-300;
  text-decoration: none;

  &:hover {
    color: $green-primary;
  }

  &[href^="http://"],
  &[href^="https://"]
  {
    &::after {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-left: 4px;
      background-image: url('../images/external_link.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
  }
}
