// ONLY GLOBAL CSS, KEEP IT TO MINIMAL
// CSS SHOULD BE SCOPPED TO COMPONENT
@import './variables';
@import './form';

/**
 * `current_symbols` is used for currency codes missing from other fonts, currently `u+e900` (XRP) and `u+e901` (BTC).
 *
 * By using unicode-range we specify which character points this font-family can be used for. When used in a style (and
 * assuming this font family is first/takes precedent), only these characters will use this font-face. Anything else
 * will fall through to the subsequent font-family.
 */
@font-face {
  font-family: 'currency_symbols';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/currency_symbols.ttf') format('truetype'),
    url('../fonts/currency_symbols.woff') format('woff');
  unicode-range: u+e900-e901;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: $white;
}

.xrpl-explorer {
  height: 100%;
}

.app-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

body,
input {
  padding: 0px;
  margin: 0px;
  background-color: $black-100;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  letter-spacing: 0.5px;
}

body,
input,
button {
  font-family: 'currency_symbols', 'Work Sans', system-ui, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  outline: none !important; // remove blue outline in click and focus
}

h2 {
  padding-bottom: 18px;
  border-bottom: 1px $black-70 solid;
  margin-top: 0;
  color: $white;
  font-size: 24px;

  @include bold;
}

svg.react-stockchart {
  z-index: auto !important;
  left: 0px;
}

div.react-stockchart div {
  z-index: auto !important;
}

.async-component-error {
  margin: 0px auto;
  color: $black-40;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  @include bold;
}

.tx-type {
  border-left-color: $black;
  color: $black;

  &.bg {
    background: $black;
  }

  @include transaction-type(AccountSet, $accountset);
  @include transaction-type(CheckCancel, $checkcancel);
  @include transaction-type(CheckCash, $checkcash);
  @include transaction-type(CheckCreate, $checkcreate);
  @include transaction-type(EscrowCancel, $escrowcancel);
  @include transaction-type(EscrowCreate, $escrowcreate);
  @include transaction-type(EscrowFinish, $escrowfinish);
  @include transaction-type(OfferCancel, $offercancel);
  @include transaction-type(OfferCreate, $offercreate);
  @include transaction-type(TicketCreate, $ticketcreate);
  @include transaction-type(Payment, $payment);
  @include transaction-type(PaymentChannelClaim, $paymentchannelclaim);
  @include transaction-type(PaymentChannelCreate, $paymentchannelcreate);
  @include transaction-type(PaymentChannelFund, $paymentchannelfund);
  @include transaction-type(EnableAmendment, $enableamendment);
  @include transaction-type(SetFee, $setfee);
  @include transaction-type(SetRegularKey, $setregularkey);
  @include transaction-type(SignerListSet, $signerlistset);
  @include transaction-type(TrustSet, $trustset);
  @include transaction-type(UNLModify, $unlmodify);
  @include transaction-type(AccountDelete, $accountdelete);

  /* stylelint-disable selector-class-pattern -- Name of class is TransactionType */
  &.NFTokenAcceptOffer,
  &.NFTokenBurn,
  &.NFTokenCancelOffer,
  &.NFTokenCreateOffer,
  &.NFTokenMint {
    @include transaction-type-base($nft);
  }

  &.XChainAccountCreateCommit,
  &.XChainAddAccountCreateAttestation,
  &.XChainAddAttestationBatch,
  &.XChainAddClaimAttestation,
  &.XChainClaim,
  &.XChainCommit,
  &.XChainCreateBridge,
  &.XChainCreateClaimID,
  &.XChainModifyBridge {
    @include transaction-type-base($sidechain);
  }

  &.AMMCreate,
  &.AMMDeposit,
  &.AMMWithdraw,
  &.AMMVote,
  &.AMMBid {
    @include transaction-type-base($amm);
  }
  /* stylelint-enable selector-class-pattern */
}

.tx-result {
  &.success {
    color: $green;
  }

  &.fail {
    color: $orange-40;
  }
}

.label {
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

.flex-table {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;

    .value {
      font-size: 14px;
    }
  }

  .spacer {
    margin-bottom: 15px;
  }
}

a {
  color: $green-30;
  text-decoration: none;

  &:hover {
    color: $green-50;
  }

  &.external, // Force the external icon. Useful for when the protocol is unknown like with NFTs.
  &[href^="http://"],
  &[href^="https://"]
  {
    &::after {
      display: inline-block;
      width: 1em;
      min-width: 1em;
      height: 1em;
      margin-left: 4px;
      background-color: currentcolor;
      content: '';
      mask-image: url('../images/external_link.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      vertical-align: text-top;
    }

    &[data-title^='GitHub'] {
      &::before {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 4px;
        background-color: currentcolor;
        content: '';
        mask-image: url('../images/github.svg');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        vertical-align: text-top;
      }
    }
  }
}

/**
Workaround to have the effect nested anchor tags (invalid html).

1. Add the class `anchor-mask` to the container you would normally wrap in an <a> tag.
2. Add the class `mask-overlay` to to the anchor.

This makes the `mask-overlay` sit on top of the `anchor-mask` and then places any other "nested" anchors on top of the overlay
*/

.anchor-mask {
  position: relative;

  a {
    position: relative;
    z-index: 10;
  }

  a.mask-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.section {
  margin: 0 32px;

  @include for-size(tablet-landscape-up) {
    width: calc(100% - 15px);
    margin: 0 auto;
  }

  @include for-size(big-desktop-up) {
    max-width: $desktop-upper-boundary;
  }
}

.warning {
  display: flex;
  align-items: center;
  color: $orange;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  @include bold;

  img {
    transform: scale(0.5);
  }
}

// A transactions destination tag.  Used like rafdasdfas:424242
.dt {
  @include medium;

  color: $black-40;
  font-size: 0.9em;
}
