.loader {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 40px;
  text-align: center;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    transform: translate(-50%, -50%);
  }
}
