@import './variables';

.selector {
  background: $white-transparent;
  cursor: pointer;

  a {
    display: inline-block;
    margin: 0px 7px;
    color: $black-50;
    text-align: center;
    text-decoration: none;
    @include medium;

    &.selected {
      border-bottom: 2px solid $blue;
      color: $black-80;
      @include bold;
    }
  }
}

.selector.dropdown {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 2px 24px 2px 2px;
  background: $white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 24%);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

  img {
    width: 20px;
    padding: 2px;
    vertical-align: middle;
  }

  .arrow {
    position: absolute;
    right: 2px;
    width: 10px;
    margin: 8px 2px;
  }

  div {
    display: none;

    span {
      display: none;
      padding: 0px 3px;
    }

    .check {
      display: none;
      width: 12px;
      margin: 4px 8px;
      float: right;
    }
  }

  &.expanded {
    padding: 2px;

    .arrow {
      display: none;
    }

    div {
      display: block;

      span {
        display: inline;
      }

      &.selected .check {
        display: inline-block;
      }
    }
  }

  div.selected {
    display: block;

    &.no-image span {
      display: inline;
    }
  }
}
