@import './variables';

$index-width: 324px;

.simple-body {
  display: flex;

  .index {
    width: $index-width;
    padding: 16px;
    border-left: 1px solid $black-70;
    margin-bottom: 60px;
    margin-left: -1px;

    .row {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0px;
      }

      .label {
        margin-bottom: 0;
        color: $black-40;
        font-size: 10px;
        line-height: 14px;
        text-transform: uppercase;
      }

      .value {
        overflow: hidden;
        color: $white;
        font-size: 14px;
        line-height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include medium;

        &.account {
          font-size: 12px;
        }
      }
    }
  }

  .rows {
    width: 100%;
    padding: 40px 16px 0;
    font-size: 14px;
    line-height: 21px;

    @include for-size(desktop-up) {
      width: calc(100% - $index-width);
      padding-right: 0;
      border-right: 1px solid $black-70;
      margin-bottom: 60px;
    }

    .row {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px solid $black-70;
      gap: 0 5px;

      @include for-size(tablet-portrait-up) {
        padding: 15px 15px 15px 0;
      }

      .label {
        color: $white;
        text-transform: capitalize;

        &.unauthorize {
          color: $red-dark;
        }
      }

      .account {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }

      .value {
        @include medium;

        color: $white;
        vertical-align: middle;
        word-break: break-word;

        &.date {
          color: $black-60;
          @include regular;
        }
      }
    }
  }
}
