@import '../../shared/css/variables';

table.basic {
  overflow: hidden;
  width: 100%;
  border-top: none;
  margin: auto;
  border-collapse: collapse;
  color: $white;
  font-size: 12px;
  letter-spacing: 0px;
  text-align: left;

  a {
    color: inherit;
    text-decoration: none;
  }

  tr {
    border-bottom: 1px solid $gray-800;
  }

  td,
  th {
    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }

    &.text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  th {
    padding: 22px 5px;
    color: $gray-400;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px 5px;

    @include for-size(tablet-portrait-up) {
      td {
        padding: 15px 10px;
        color: $gray-400;
      }
    }
  }

  .empty-message {
    padding: 16px;
    color: $gray-400;
    font-size: 16px;
    text-align: center;
  }
}

table.token-table {
  margin-top: 24px;
  font-size: 14px;

  .col1 {
    width: 180px;
    padding-bottom: 8px;
    color: $gray-400;
    text-transform: uppercase;
    @include semibold;
  }

  .col2 {
    padding-bottom: 8px;
    color: $white;

    a {
      color: $green;
      text-decoration: none;
    }

    .copy {
      position: absolute;
      width: 17px;
      height: 17px;
      margin-left: 8.42px;
    }
  }
}
