@import './variables';

.tabs {
  border-top: 1px solid $gray-800;
  margin: 8px auto 40px;
  font-size: 14px;

  a {
    color: inherit;
  }

  .tab {
    display: inline-block;
    padding: 24px 24px 0;
    border-top: 2px solid transparent;
    color: $black-50;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
      color: $white;
      @include bold;
    }

    &.selected {
      border-top: 2px solid $white;
      color: $white;
      @include bold;
    }
  }
}
