@import './variables.scss';

.tabs {
  padding: 0px;
  margin-bottom: -1px;
  font-family: 'Space Mono', monospace;

  a {
    color: inherit;
    text-decoration: none;
  }

  .tab {
    display: inline-block;
    padding: 8px 16px;
    border-top: 2px solid transparent;
    color: $black-50;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
      color: $white;
      @include bold;
    }

    &.selected {
      border-top: 2px solid $white;
      color: $white;
      @include bold;
    }
  }
}
