@use 'variables';

.tabs {
  border-top: 1px solid variables.$black-70;
  margin: 8px auto 40px;
  font-size: 14px;

  a {
    color: inherit;
  }

  .tab {
    display: inline-block;
    padding: 24px 24px 0;
    border-top: 2px solid transparent;
    color: variables.$black-40;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
      color: variables.$white;
      @include variables.bold;
    }

    &.selected {
      border-top: 2px solid variables.$white;
      color: variables.$white;
      @include variables.bold;
    }
  }
}
