@import './variables';

.tooltip {
  position: absolute;
  z-index: 1000;
  padding: 8px 12px;
  background: rgb(0 0 0 / 90%);
  border-radius: 2px;
  color: white;
  font-size: 13px;
  line-height: 16px;
  @include medium;

  img {
    height: 16px;
    margin: 0px 5px;
    vertical-align: middle;
  }

  .label {
    text-transform: uppercase;
  }

  .paystring {
    position: fixed;
  }

  .pubkey {
    overflow: hidden;
    max-width: 100px;
    color: $black-10;
    font-size: 10px;
    letter-spacing: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    color: $black-40;
    letter-spacing: 0;
  }

  .unl {
    color: $green;
  }

  .tx-status::before {
    content: '\00a0';
  }

  .account {
    color: $black-50;
    font-size: 10px;
  }
}
