@import './variables.scss';

.nft {
  position: absolute;
  z-index: 1000;
  padding: 16px 16px 16px 16px;
  background: #a09f9f;
  border-radius: 16px;
  color: white;
  font-size: 13px;
  line-height: 16px;
  @include medium;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  color: white;
  font-size: 13px;
  line-height: 16px;
  @include medium;

  img {
    height: 16px;
    margin: 0px 5px;
    vertical-align: middle;
  }

  .label {
    text-transform: uppercase;
  }

  .paystring {
    position: fixed;
  }

  .pubkey {
    overflow: hidden;
    max-width: 100px;
    color: $black-10;
    font-size: 10px;
    letter-spacing: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    color: #abc;
    letter-spacing: 0px;
  }

  .unl {
    color: $green;
  }

  .parent {
    color: #777;
    font-size: 12px;

    span {
      margin: 0 5px;
      color: #444;
    }
  }

  .result {
    color: #e66;
    font-size: 10px;
  }

  .result.tesSUCCESS {
    color: #ccc;
    font-size: 10px;
  }

  .account {
    color: #89a;
    font-size: 10px;
  }
}
