@import './variables';

.tx-label {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  padding: 2px 8px;
  border: 1px solid currentcolor;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1;
  @include semibold;

  .tx-type-name {
    color: $white;
    letter-spacing: 0;
    text-transform: uppercase;
    @extend %truncate;

    &::before {
      content: '\00a0';
    }
  }
}
