.tx-status {
  display: inline-flex;
  max-width: 100%;
  align-items: center;

  svg {
    height: 1em;
  }

  .status {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;

    &::before {
      content: '\00a0';
    }
  }

  .status-code {
    color: inherit;
  }

  &.success {
    .status-code {
      display: none;
    }
  }
}
