@use 'variables' as *;

.tx-status {
  display: inline-flex;
  max-width: 100%;
  align-items: center;

  svg {
    width: auto;
    height: 1em;
  }

  .status-icon {
    display: flex;
    align-items: center;
  }

  .status {
    @extend %truncate;

    display: inline-block;
    text-transform: capitalize;

    &::before {
      content: '\00a0';
    }
  }

  .status-message {
    + .status-code::before {
      content: '\00a0-\00a0';
    }
  }

  .status-code {
    color: inherit;
  }

  &.success {
    .status-code {
      display: none;
    }
  }

  // Because of an optical illusion caused by white space the link icon looks to be too lower
  &::after {
    position: relative;
    top: -1px;
  }
}
