// ONLY RE-USABLE VARIABLES AND MIXINS

// View breakpoints
$phone-upper-boundary: 415px;
$tablet-portrait-upper-boundary: 600px;
$tablet-landscape-upper-boundary: 900px;
$desktop-upper-boundary: 1200px;

// Minimum height and width
$min-height: 500px;
$min-width: 375px;

$border-radius: 8px;

// Colors
$black-0: #fff;
$black-10: #f5f5f7;
$black-20: #e0e0e1;
$black-30: #c1c1c2;
$black-40: #a2a2a4;
$black-50: #838386;
$black-60: #454549;
$black-70: #343437;
$black-80: #232325;
$black-90: #111112;
$black-100: #000;
$black: $black-100;

$green-10: #d6fae7;
$green-20: #adf5ce;
$green-30: #84f0b6;
$green-40: #5beb9d;
$green-50: #32e685;
$green-60: #2dcf78;
$green-70: #28b86a;
$green-80: #1e8a50;
$green-90: #145c35;
$green-100: #0a2e1b;
$green: $green-50;

$blue-10: #e5f5ff;
$blue-20: #b2e0ff;
$blue-30: #80ccff;
$blue-40: #4bb7ff;
$blue-50: #19a3ff;
$blue-60: #008ae5;
$blue-70: #006bb2;
$blue-80: #004d80;
$blue-90: #002e4c;
$blue: $blue-50;

$blue-purple-10: #f0e5ff;
$blue-purple-20: #d2b2ff;
$blue-purple-30: #b480ff;
$blue-purple-40: #9a52ff;
$blue-purple-50: #7919ff;
$blue-purple-60: #5f00e5;
$blue-purple-70: #4a00b2;
$blue-purple-80: #350080;
$blue-purple-90: #20004c;
$blue-purple: $blue-purple-40;

$red-purple-10: #fbe5ff;
$red-purple-20: #f2b2ff;
$red-purple-30: #ea80ff;
$red-purple-40: #e24cff;
$red-purple-50: #d919ff;
$red-purple-60: #c000e5;
$red-purple-70: #9500b2;
$red-purple-80: #6b0080;
$red-purple-90: #40004c;
$red-purple: $red-purple-50;

$magenta-10: #ffe5f2;
$magenta-20: #ffb2d8;
$magenta-30: #ff80bf;
$magenta-40: #ff4ba4;
$magenta-50: #ff198b;
$magenta-60: #e50071;
$magenta-70: #b20058;
$magenta-80: #80003f;
$magenta-90: #4c0026;
$magenta: $magenta-50;

$orange-10: #ffeee5;
$orange-20: #ffccb2;
$orange-30: #ffaa80;
$orange-40: #ff884b;
$orange-50: #ff6719;
$orange-60: #e54d00;
$orange-70: #b23c00;
$orange-80: #802b00;
$orange-90: #4c1a00;
$orange: $orange-50;

$yellow-10: #feffe5;
$yellow-20: #fdffb2;
$yellow-30: #fcff80;
$yellow-40: #fbff4c;
$yellow-50: #faff19;
$yellow-60: #e0e500;
$yellow-70: #aeb200;
$yellow-80: #7d8000;
$yellow-90: #4b4c00;
$yellow: $yellow-50;

$red: #ff668b;
$red-dark: #940443;
$shadows: #23292f;
$white: #fff;
$white-transparent: rgb(255 255 255 / 75%);

// Networks
$testnet: $orange;
$devnet: $blue-purple-30;
$xahau-mainnet: $green-40;
$xahau-testnet: $magenta-30;
$custom: $yellow-50;

// Feature Sets
$amm: $blue;
$nft: $blue-purple;
$mpt: $blue;

// Currency colors
$CURRENCY_DEFAULT: #aedbf7;
$XRP_KRW: #0f72e5;
$XRP_USD: #2bcb96;
$XRP_BTC: #f90;
$XRP_ETH: #53585d;
$XRP_USDT: #91ffdb;
$XRP_INR: #ff8000;
$XRP_JPY: #691fdd;
$XRP_AUD: #ffcd00;
$XRP_MXN: #c74444;
$XRP_THB: #ed1c24;
$XRP_CNY: #f23548;
$XRP_IDR: #ce1126;
$XRP_RUB: #0039a6;
$XRP_BITCNY: #f88064;
$XRP_ZAR: #000;
$XRP_XLM: #04b5e5;
$XRP_LTC: #b8b8b8;
$XRP_ADA: #2d71d0;
$XRP_BRL: #009b3a;
$XRP_BCH: #c8e6ad;
$XRP_ETC: #42967b;
$XRP_REP: #551a8b;
$XRP_GBP: #00247d;
$XRP_QAU: #0f73c3;
$XRP_UAH: #ffd700;
$XRP_CND: #00aae4;
$XRP_EUR: #ffd600;
$XRP_XRP: #0a93eb;
$XRP_CAD: #ca3103;
$XRP_OTHERS: #f52a79;

// Font wights
@mixin regular {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin semibold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}

%truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// View bucket sizes
@mixin for-size($range) {
  @if $range == phone-only {
    @media (max-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}
