@import '../../css/variables';

.result-row-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 16px;
}

.result-currency {
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;

}

.result-token-name {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3px;
}

.search-result-logo {
  padding-right: 14px;
  padding-left: 1rem;
}

.search-result-row {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: $black-70;
    cursor: pointer;
  }

}

.result-name-line {
  display: flex;
  margin-bottom: 0.5rem;
}

.result-issuer-line {
  display: flex;
  margin-bottom: 0.5rem;
  color: $black-50
}

.result-website-line {
  display: flex;
  flex-direction: row;
  color: $black-50;
}

.metric-chip {
  padding: 2px 12px;
  border: 1px solid $black-70;
  border-radius: 100px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: black;
  font-size: 12px;
  font-weight: 600;

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}
