@import '../../css/variables';

.result-row-icon {
    width: '1.5rem';
    height: '1.5rem',;
    border-radius: '16px';
}

.result-currency {
    padding-top: '2px';
    padding-right: '0px';
    padding-bottom: '2px';

}

.result-token-name {
    padding-top: '2px';
    padding-bottom: '2px';
    margin-left: '3px';
}

.search-result-logo {
  padding-right: 14px;
  padding-left: 1rem;
}
