@import '../../css/variables';

.search-results-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 400px;
  border: 1px solid $black-80;
  border-radius: 8px;
  border-top: 0px;
  margin-top: 6px;
  background-color: black;
  box-shadow: 2px 2px 15px 0px rgb(131 131 134 / 30%);
  overflow-wrap: anywhere;
  overflow-y: scroll;
  scrollbar-color: $black-50 transparent;
  scrollbar-width: thin;
}

.search-results-header {
  padding: 0.5rem 0rem 0.5rem 1rem;
  background-color: $black-80;
  font-size: 14px;
  font-weight: 500;
}
