@import '../shared/css/variables';

.history-table {
  // Col overall styling
  .col-date,
  .col-chain,
  .col-score,
  .col-missed,
  .col-total {
    @extend %truncate;
  }

  .col-date {
    width: 90px;
    @include for-size(tablet-landscape-up) {
      width: 200px;
    }
    @include for-size(desktop-up) {
      width: 300px;
    }
    @include for-size(big-desktop-up) {
      width: 390px;
    }

    .abbrev-date {
      @include for-size(tablet-landscape-up) {
        display: none;
      }
    }

    .full-date {
      display: none;
      @include for-size(tablet-landscape-up) {
        display: table-cell;
      }
    }
  }

  .col-chain {
    width: 55px;
    @include for-size(tablet-landscape-up) {
      width: 70px;
    }
    @include for-size(desktop-up) {
      width: 100px;
    }
    @include for-size(big-desktop-up) {
      width: 200px;
    }
  }

  .col-score {
    width: 55px;
    @include for-size(tablet-landscape-up) {
      width: 70px;
    }
    @include for-size(desktop-up) {
      width: 100px;
    }
    @include for-size(big-desktop-up) {
      width: 150px;
    }
  }

  .col-total {
    width: 55px;
    @include for-size(tablet-landscape-up) {
      width: 70px;
    }
    @include for-size(desktop-up) {
      width: 100px;
    }
    @include for-size(big-desktop-up) {
      width: 165px;
    }
  }

  .col-missed {
    width: 55px;
    @include for-size(tablet-landscape-up) {
      width: 70px;
    }
    @include for-size(desktop-up) {
      width: 100px;
    }
    @include for-size(big-desktop-up) {
      width: 165px;
    }
  }

  .td-missed {
    color: $orange-50;
  }
}

.history-note {
  overflow: hidden;
  color: $black-40;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include medium;
}
