@import '../shared/css/variables';

.simple-body {
  .rows {
    .row {
      &.flex-wrap {
        flex-wrap: wrap;
      }

      .label {
        display: flex;
        align-items: center;
      }

      .value {
        img {
          height: 16px;
        }
      }
    }

    .not-supported {
      padding: 50px;
      color: #c97;
      font-size: 14px;
      text-align: center;

      .type {
        margin: 0 5px;
        @include bold;
      }
    }
  }

  .index {
    .val {
      .unl.yes {
        color: #292;

        img {
          height: 16px;
          padding-top: 2px;
        }
      }
    }
  }
}
