@use '../shared/css/variables';

.validator {
  position: relative;
  min-height: 600px;

  @include variables.for-size(tablet-landscape-up) {
    width: 552px;
    margin: auto;
  }
  @include variables.for-size(desktop-up) {
    width: 772px;
  }
  @include variables.for-size(big-desktop-up) {
    width: 1140px;
  }

  .loader {
    position: absolute;
    z-index: 1;
    top: 0;
  }

  .summary {
    width: calc(100% - 32px);
    padding: 30px 16px 20px;

    .type {
      display: inline-block;
      margin-bottom: 24px;
      color: variables.$white;
      font-size: 32px;
      @include variables.bold;
    }

    .label {
      margin-top: 16px;
      margin-bottom: 4px;
      color: variables.$black-80;
      font-size: 24px;
      line-height: 32px;
      @include variables.bold;

      @include variables.for-size(tablet-landscape-up) {
        font-size: 32px;
        line-height: 40px;
      }
      @include variables.for-size(desktop-up) {
        font-size: 40px;
        line-height: 48px;
      }
      @include variables.for-size(big-desktop-up) {
        font-size: 40px;
        line-height: 48px;
      }
    }

    .hash {
      overflow: hidden;
      padding-bottom: 87px;
      color: variables.$black-40;
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include variables.medium;
    }

    .status {
      display: inline-block;
      padding: 0px 15px 5px;
      font-size: 10px;
      line-height: 18px;
      text-transform: uppercase;
      vertical-align: middle;
      @include variables.bold;

      @include variables.for-size(tablet-landscape-up) {
        font-size: 12px;
        line-height: 20px;
      }
      @include variables.for-size(desktop-up) {
        font-size: 12px;
        line-height: 20px;
      }
      @include variables.for-size(big-desktop-up) {
        font-size: 12px;
        line-height: 20px;
      }

      &.success {
        color: variables.$green;
      }

      &.fail {
        color: variables.$orange-40;

        span {
          text-transform: none;
        }
      }

      img {
        position: relative;
        top: 4px;
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
  }

  .tab-body {
    margin: 0px auto;
  }
}
