@import '../shared/css/variables';

.voting {
  margin-left: 24px;

  .metrics {
    &.metrics-voting {
      width: auto;
      padding-left: 0;
      text-align: left;

      .cell {
        display: flex;
        justify-content: space-between;
        margin: 0 !important;
        text-align: left;

        @include for-size(tablet-landscape-up) {
          display: inline-block;
        }
      }
    }
  }

  .amendment-label {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
  }

  .voting-amendment {
    font-size: 14px;

    .row-amendment {
      margin-top: 32px;
      background-color: $black-80;
    }

    .amendment-name {
      color: $green-30
    }

    .row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px solid $black-70;
    }

    .label {
      margin: 0;
      font-weight: 100;
    }

    .value {
      overflow-x: scroll;
      scrollbar-width: none;
      text-align: end;

      &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
      }
    }
  }

  .pill {
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
    border-radius: 30px;
    color: $black-100;
    font-weight: 700;

    &.yea {
      background-color: $green-60;
    }

    &.nay {
      background-color: $black-30;
    }
  }

  .no-match {
    &.no-match-amendments {
      margin: 32px 0;
    }
  }
}
