@use '../../shared/css/variables';

.metrics {
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;

  @include variables.for-size(tablet-landscape-up) {
    width: calc(100% - 124px);
    justify-content: space-between;
    padding: 0px 12px;
    margin: auto;
  }

  .cell {
    display: inline-block;
    width: 100%;
    color: variables.$white;
    font-size: 16px;
    text-align: center;

    @include variables.for-size(tablet-landscape-up) {
      width: auto;
      min-width: 100px;
      margin: 15px 5px;
    }

    @include variables.for-size(desktop-up) {
      min-width: 160px;
      margin: 15px 5px;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
    }

    @include variables.for-size(big-desktop-up) {
      margin: 20px 30px;
    }

    .label {
      display: inline-block;
      overflow: hidden;
      color: variables.$black-40;
      float: left;
      font-size: 12px;
      line-height: 25px;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      @include variables.semibold;

      @include variables.for-size(tablet-landscape-up) {
        display: block;
        float: none;
        font-size: 10px;
        line-height: 12px;
      }
    }

    .label.n-unl-metric {
      text-transform: none;
    }

    span {
      display: inline-block;
      float: right;
      letter-spacing: 0px;
      @include variables.bold;

      @include variables.for-size(tablet-landscape-up) {
        display: block;
        float: none;
      }
    }
  }
}

.control {
  display: flex;
  min-height: 30px;
  align-items: center;
  padding: 0px 14px 0px 32px;
  line-height: 14px;
  text-align: right;

  .pause-resume {
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    color: variables.$white;
    cursor: pointer;
    float: left;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    @include variables.medium;

    .icon {
      width: 40px;
      height: 40px;
      margin-right: 16px;
      vertical-align: middle;
    }

    &:hover {
      color: variables.$black-30;
    }
  }
}

.metrics-control {
  display: flex;
  flex-direction: column;
  align-content: center;
  @include variables.for-size(tablet-landscape-up) {
    flex-direction: row;
  }
}
