@import '../../shared/css/variables';

$ledgers-margin-large: 32px;
$ledgers-border: 1px solid $black-70;
$ledger-width: 196px;

.ledgers-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 1% 0 auto;

  .loader {
    position: inherit;
  }
}

.ledgers {
  margin-top: $ledgers-margin-large;
  justify-self: space-between;

  .control {
    overflow: hidden;
    width: calc(100% - 28px);
    min-height: 30px;
    padding: 4px 14px;
    line-height: 14px;
    text-align: right;

    @include for-size(desktop-up) {
      width: calc(100% - 80px);
      padding: 4px 40px;
    }

    .selected-validator {
      display: inline-block;
      width: calc(100% - 100px);

      a {
        display: inline-block;
        overflow: hidden;
        margin: 1px 2px;
        line-height: 20px;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;

        &.domain {
          max-width: calc(70% - 5px);
          font-size: 14px;
          @include medium;
        }

        &.pubkey {
          max-width: calc(30% - 5px);
          padding-top: 1.5px;
          font-size: 11px;
          letter-spacing: 0px;
        }

        @include for-size(tablet-landscape-up) {
          &.domain {
            max-width: calc(50% - 5px);
          }

          &.pubkey {
            max-width: calc(50% - 5px);
          }
        }
      }
    }
  }

  .legend {
    padding: 16px 24px;
    border: $ledgers-border;
    margin: 0 $ledgers-margin-large;
  }

  .ledger-list {
    display: flex;
    padding: 0 0 40px $ledgers-margin-large;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }

  .ledger {
    overflow: visible;
    width: $ledger-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: $ledgers-margin-large;
    animation-duration: 0.4s;
    animation-name: ledger-enter;
    white-space: normal;

    &:first-child {
      margin-left: 0;
    }
  }

  @keyframes ledger-enter {
    from {
      width: 0;
      margin-left: -$ledgers-margin-large;
    }

    to {
      width: $ledger-width;
      margin-left: 0;
    }
  }

  .ledger-head {
    min-height: 170px;
    padding: $ledgers-margin-large;
    border: $ledgers-border;
    border-bottom: 0;
    color: $black-40;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    @include bold;

    .close-time {
      padding-bottom: 24px;
      color: $black-40;
      font-size: 10px;
    }

    .txn-count {
      display: flex;
      justify-content: space-between;
    }

    .fees {
      display: flex;
      justify-content: space-between;
    }

    b {
      color: $white;
      font-size: 10px;
      text-align: end;
      @include medium;
    }

    .ledger-index {
      padding-bottom: 3px;
      color: $white;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;

      a {
        display: inline-block;
        padding: 2px 4px;
        border-radius: 2px;
        margin-right: -4px;
      }

      a:hover {
        background: $black-70;
      }

      &.flag-ledger a {
        background: $black-70;
        color: $white;
      }
    }

    .transactions {
      display: grid;
      padding-top: $ledgers-margin-large;
      gap: 4px 6px;
      grid-template-columns: repeat(8, 1fr);
    }

    @keyframes tx-enter {
      from {
        width: 0;
        height: 0;
      }

      to {
        width: 11px;
        height: 11px;
      }
    }

    .txn {
      display: inline-block;
      width: 11px;
      height: 11px;
      align-content: center;
      align-items: center;
      opacity: 0.35;

      /* stylelint-disable-next-line selector-class-pattern -- Name comes from server  */
      &.tesSUCCESS {
        opacity: 1;
      }

      span {
        display: none;
      }

      svg {
        animation-duration: 0.3s;
        animation-name: tx-enter;
      }
    }
  }

  .hash {
    overflow: hidden;
    padding: 0px 32px 32px;
    border: 1px solid $black-60;
    border-top: 0;
    background: rgba($black-80, 0.7);
    color: $white;
    font-size: 15px;
    text-align: left;

    .bar {
      height: 2px;
      margin: 0px -32px;
    }

    &.unselected {
      opacity: 0.5;

      .bar {
        background: $black-20 !important;
      }
    }

    .ledger-hash {
      text-align: center;
    }

    .hash-concat {
      padding-top: 32px;
      color: $white;
      font-size: 14px;
      @include bold;
    }

    .subtitle {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      padding-top: 24px;
      padding-bottom: 32px;
      color: $black-40;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      @include bold;
    }

    .validation-total {
      display: flex;
      justify-content: space-between;
    }

    .subtitle b {
      color: $white;
      font-size: 11px;
    }

    .subtitle span {
      display: flex;
      justify-content: space-between;
      padding: 0 2px;
    }

    .subtitle span.missed {
      color: white;
      cursor: pointer;
    }

    .subtitle span.missed b {
      border-radius: 2px;
      background: $orange-50;
      color: white;
    }

    .validated {
      display: inline-block;
      height: 26px;
      color: $green;
      text-align: center;
      vertical-align: middle;
    }

    @keyframes validation-enter {
      from {
        opacity: 0;
      }

      to {
        opacity: 0.85;
      }
    }

    .validations {
      display: grid;
      gap: 4px 8px;
      grid-template-columns: repeat(5, 1fr);
    }

    .validation {
      height: 4px;
      border-radius: 4px;
      background: $black-50;
      cursor: pointer;
      opacity: 0.85;
    }

    .validation:hover {
      opacity: 1;
    }

    .validation.trusted {
      background: $white;
    }

    .validation.selected {
      background: $green;
      opacity: 1;
    }

    .validation.unselected:not(.selected) {
      opacity: 0.4;
    }

    .partial {
      width: 50%;
      height: 100%;
      background: $red;
    }
  }
}
