@import '../shared/css/variables.scss';

.token-discovery-page {
  margin: 106px 10% 16px 10%;

  .loader {
    min-height: 100px;
    background: $black;
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  @include for-size(phone-only) {
    margin: 50px 10% 4px 10%;
  }

  @include for-size(tablet-portrait-up) {
    margin: 50px 10% 4px 10%;
  }

  @include for-size(tablet-landscape-up) {
    margin: 102px 10% 8px 10%;
  }
}
