@mixin text {
  color: #9BA2B0;
  line-height: 70%;
}

.yLabel {
  fill: #9BA2B0;
}

.barchart {
  height: 100%;
  overflow: hidden;
  width: 100%;
  p {
    @include text;
  }

  span {
    @include text;
  }
}
