@import '../../shared/css/variables';

.validators-container {
  .validators {
    position: relative;
    background: $black-80;

    svg {
      display: block;
      filter: drop-shadow(0px 0px 2px $black-70);
    }

    .mesh path {
      fill: none;
      stroke: $black;
    }

    .hexagons {
      display: block;
      margin: auto;

      .hexagon path {
        cursor: pointer;
        fill-opacity: 0.8;
        stroke-opacity: 1;

        @include for-size(tablet-landscape-up) {
          cursor: auto;
        }
      }

      .hexagon.updated path {
        animation-duration: 0.7s;
        animation-name: hex-update;
        animation-timing-function: ease-in-out;
      }

      .hexagon.selected path {
        fill-opacity: 1;
        stroke: black !important;
      }

      @keyframes hex-update {
        0% {
          transform: scale(1);
        }

        20% {
          transform: scale(1.15);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }
}
