@import '../../shared/css/variables';

.nodes-map {
  position: relative;

  svg {
    display: block;
    margin: auto;

    .country {
      fill: $black-40;
      opacity: 0.2;
    }

    .tooltip {
      font-size: 12px;

      rect {
        fill: white;
        fill-opacity: 0.5;
      }
    }

    .legend {
      text {
        fill: $black-40;
        font-size: 10px;
        @include regular;
      }
    }
  }
}
