@import '../../shared/css/variables';
@import '../../shared/css/table';

.nodes-table {
  position: relative;
  min-height: 150px;

  table {
    .pubkey {
      max-width: 70px;

      @include for-size(tablet-portrait-up) {
        max-width: 100px;
      }

      @include for-size(big-desktop-up) {
        max-width: 180px;
      }

      @media (min-width: 1300px) {
        max-width: 280px;
      }

      @media (min-width: 1400px) {
        max-width: 350px;
      }
    }

    .state {
      min-width: 60px;
      text-transform: uppercase;
      @include semibold;
    }

    .state span {
      display: inline-block;
      padding: 4px 12px;
      margin: 1px 0;
      border-radius: 100px;
    }

    .state .full {
      background-color: $green;
      color: black;
    }

    .state .proposing {
      background-color: $orange;
      color: white;
    }

    .state .connected {
      background-color: $yellow;
      color: $black-60;
    }

    .version {
      max-width: 60px;
    }

    .uptime {
      text-align: right;

      @include for-size(tablet-landscape-up) {
        text-align: left;
      }
    }

    .last-ledger {
      i {
        color: $black-30;
      }
    }

    .in-out small {
      color: $black-50;
      font-weight: bold;
    }

    .ledgers {
      text-align: right;

      @include for-size(big-desktop-up) {
        text-align: left;
      }
    }

    .ledgers .boxes {
      position: relative;
      display: none;
      height: 12px;
      margin: 3px 5px;
      vertical-align: middle;

      @include for-size(big-desktop-up) {
        display: inline-block;
      }
    }

    .ledgers .boxes div {
      position: absolute;
      height: 100%;
      background: $black-50;
      border-radius: 2px;
    }

    .ledgers span {
      color: $black-50;
      font-weight: bold;
      vertical-align: middle;
    }

    .quorum,
    .load-factor,
    .latency {
      display: none;

      @include for-size(desktop-up) {
        display: table-cell;
      }
    }

    .last-ledger,
    .ledgers {
      display: none;

      @media (min-width: 750px) {
        display: table-cell;
      }
    }

    .peers,
    .version,
    .in-out {
      display: none;

      @include for-size(tablet-landscape-up) {
        display: table-cell;
      }
    }
  }
}
