@use '../../shared/css/variables';

.network-page {
  // Needs additional bottom margin to break up table from the horizontal
  // rule that delineates the footer
  margin: 0 0 50px;

  .loader {
    position: absolute;
    top: 1px;
    min-height: 100px;
  }

  .stat {
    min-height: 15px;
    padding: 2px;
    color: variables.$black-40;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;

    i {
      font-size: 10px;
    }

    @include variables.for-size(tablet-landscape-up) {
      padding: 4px 10px;
      font-size: 12px;

      i {
        font-size: 11px;
      }
    }
  }

  .wrap {
    overflow: auto;
    width: 100%;
    max-width: 1500px;
    margin: auto;
  }
}
