@use '../../shared/css/variables' as *;

.network-page {
  // Needs additional bottom margin to break up table from the horizontal
  // rule that delineates the footer
  margin: 0 0 50px;

  .loader {
    position: absolute;
    top: 1px;
    min-height: 100px;
  }

  .stat {
    min-height: 15px;
    padding: 2px;
    color: $black-40;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;

    i {
      font-size: 10px;
    }

    @include for-size(tablet-landscape-up) {
      padding: 4px 10px;
      font-size: 12px;

      i {
        font-size: 11px;
      }
    }
  }

  .wrap {
    overflow: auto;
    width: 100%;
    max-width: 1500px;
    margin: auto;
  }

  .type {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-left: calc((100vw - 1500px) / 2);
    margin-left: clamp(16px, calc((100vw - 1500px) / 2), calc((100vw - 1500px) / 2)); // Adjust based on wrap margin with min 16px
    color: $white;
    font-size: 32px;
    @include for-size(tablet-portrait-up) {
      font-size: 42px;
    }

    @include bold;
  }
}
