@use '../../shared/css/variables' as *;

.validators-table {
  position: relative;
  min-height: 150px;

  table {
    .pubkey {
      max-width: 70px;
      @include for-size(tablet-portrait-up) {
        max-width: 100px;
      }

      @include for-size(big-desktop-up) {
        max-width: 180px;
      }

      @media (width >= 1300px) {
        max-width: 280px;
      }

      @media (width >= 1400px) {
        max-width: 350px;
      }
    }

    .fee {
      min-width: 90px;
      color: $orange-50;
    }

    .missed {
      color: $orange-50;
    }

    .domain {
      max-width: 140px;
      @include medium;
    }

    .last-ledger {
      min-width: 55px;
      @include bold;

      // When a validation comes in we update the color to use the ledgers hash. Until that occurs the table's default
      // text color is used.
      a {
        color: inherit;
      }
    }

    .unl,
    .n-unl {
      max-width: 40px;
    }

    .unl {
      text-align: center;
    }

    .unl.yes {
      color: $green;
    }

    .n-unl {
      text-align: center;
      text-transform: none;

      img {
        height: 16px;
        transform: rotate(180deg);
      }
    }

    .n-unl.yes {
      color: $orange-40;
    }

    .fee-icon {
      position: relative;
      top: 1.5px;
      margin-right: 4px;
    }

    .vote {
      white-space: nowrap;
    }
  }

  &.uptime-tab {
    .pubkey,
    .score.h1,
    .score.d30,
    .fee {
      display: none;
    }

    @include for-size(tablet-portrait-up) {
      .score.d30 {
        display: table-cell;
      }
    }

    @include for-size(tablet-landscape-up) {
      .pubkey {
        display: table-cell;
      }
    }

    @include for-size(desktop-up) {
      .score.h1,
      .fee {
        display: table-cell;
      }
    }
  }

  &.voting-tab {
    .pubkey,
    .last-ledger,
    .n-unl,
    .version {
      display: none;
    }

    @include for-size(tablet-portrait-up) {
      .n-unl, .version {
        display: table-cell;
      }
    }

    @include for-size(tablet-landscape-up) {
      .pubkey {
        display: table-cell;
      }
    }

    @include for-size(desktop-up) {
      .last-ledger {
        display: table-cell;
      }
    }
  }

}
