@import '../../shared/css/variables';

.validators-table {
  position: relative;
  min-height: 150px;

  table {
    .pubkey,
    .score.h1,
    .score.d30,
    .fee {
      display: none;
    }

    .pubkey {
      max-width: 70px;
      @include for-size(tablet-portrait-up) {
        max-width: 100px;
      }

      @include for-size(big-desktop-up) {
        max-width: 180px;
      }

      @media (min-width: 1300px) {
        max-width: 280px;
      }

      @media (min-width: 1400px) {
        max-width: 350px;
      }
    }

    .fee {
      min-width: 90px;
      color: $orange-600;
    }

    .missed {
      color: $orange-600;
    }

    .domain {
      max-width: 140px;
      @include medium;
    }

    .last-ledger {
      min-width: 55px;
      @include bold;
    }

    .unl, .n-unl {
      max-width: 40px;
    }

    .unl {
      text-align: center;
    }

    .unl.yes {
      color: $green;
    }

    .n-unl {
      text-align: center;
      text-transform: none;

      img {
        height: 16px;
        transform: rotate(180deg);
      }
    }

    .n-unl.yes {
      color: #c97;
    }

    @include for-size(tablet-portrait-up) {
      .score.d30 {
        display: table-cell;
      }
    }

    @include for-size(tablet-landscape-up) {
      .pubkey {
        display: table-cell;
      }
    }

    @include for-size(desktop-up) {
      .score.h1,
      .fee {
        display: table-cell;
      }
    }
  }
}
