@use '../../../shared/css/variables' as *;
@use '../../../shared/css/table';

.tx-table-picker {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  gap: 16px;

  .tx-table-picker-button {
    all: unset;
    padding-top: 21px; // keep consistent baseline
    border: none;
    border-top: 3px solid transparent; // reserve space so active doesn't shift
    margin-right: 16px;
    background-color: none;
    color: $black-40;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    @include regular;

    &.active {
      padding-top: 21px;
      border-top: 3px solid $white;
      color: $white;
    }

    &.active,
&:hover {
  color: $white;
  text-shadow:
    0.02em 0   currentcolor,
   -0.02em 0   currentcolor,
    0   0.02em currentcolor,
    0  -0.02em currentcolor;

  /* keep font-weight normal to avoid reflow */
}


  }


}

.full-width-line {
    width: 100%;            /* stretch full width */
    border: none;           /* remove default browser styles */
    border-top: 1px solid $black-70; /* line color/thickness */
    margin-bottom: 0px;    /* spacing */
    color: $black-70;
  }
