@import '../../shared/css/variables';

.paystring-header {
  margin-bottom: 16px;
  @include for-size(tablet-landscape-up) {
    width: 552px;
  }

  @include for-size(desktop-up) {
    width: 1140px;
  }

  .box-header {
    display: flex;
    align-items: center;
    gap: 8px;

    .paystring-logomark {
      height: 48px;
    }

    .question {
      cursor: pointer;
    }

    .paystring-id {
      font-size: 42px;
      @include bold;
    }
  }
}
