@import '../../shared/css/variables';

.tokens-table-container {
  margin-bottom: 40px;

  .loader {
    top: 1px;
    min-height: 100px;
    background: $black;
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .empty-tokens-message {
    padding: 16px;
    color: #9ba2b0;
    font-size: 16px;
    text-align: center;
  }

  .tokens-table {
    table {
      th {
        .q-tooltip:hover::after {
          font-weight: normal;
          text-transform: none;
        }
      }

      span.q-tooltip:hover {
        position: relative;
      }

      span.q-tooltip[data-tooltip]:hover::after {
        position: absolute;
        top: -250%;
        left: -300%;
        width: max-content;
        padding: 4px 8px;
        background-color: $gray-400;
        border-radius: 5px;
        color: $white;
        content: attr(data-tooltip);
        opacity: 0.9;

        @include for-size(phone-only) {
          left: -250%;
        }
      }

      .rank {
        width: 55px;
      }

      img {
        width: 13px;
        height: 13px;
        margin-right: 2px;
        margin-left: 0px;
        object-fit: contain;
      }

      .question {
        width: 12px;
        height: 12px;
        padding-left: 8px;
        float: none;
      }

      @include for-size(tablet-portrait-up) {
        td {
          padding: 15px 10px;
        }

        .domain {
          max-width: auto;
        }

        .score.d30 {
          display: table-cell;
        }
      }
    }
  }
}
