@import '../../shared/css/variables.scss';
.tokens-table-container {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  .loader {
    top: 1px;
    min-height: 100px;
    background: $black;
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .empty-tokens-message {
    padding: 16px;
    color: #9ba2b0;
    font-size: 16px;
    text-align: center;
  }

  .tokens-table {
    position: relative;
    display: flex;
    width: 100%;
    flex-flow: row wrap;

    table {
      width: 100%;
      border-top: none;
      border-bottom: 1px solid $gray-800;
      margin: auto;
      border-collapse: collapse;
      color: $gray-400;
      font-size: 13px;
      text-align: left;

      .loader {
        min-height: 13px;

        img {
          min-height: 15px;
          display: flex;
          left: 25%;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .tokens-table-header {
        border-bottom: 1px solid $gray-800;
      }

      th {
        padding: 22px 10px;
        color: $gray-400;
        text-transform: uppercase;

        .q-tooltip:hover::after {
          font-weight: normal;
          text-transform: none;
        }
      }

      span.q-tooltip:hover {
        position: relative;
      }

      span.q-tooltip[data-tooltip]:hover::after {
        position: absolute;
        top: -250%;
        left: -300%;
        width: max-content;
        padding: 4px 8px;
        background-color: $gray-400;
        border-radius: 5px;
        color: $white;
        content: attr(data-tooltip);
        opacity: 0.9;

        @include for-size(phone-only) {
          left: -250%;
        }
      }

      .tokens-table-row {
        border-top: 1px solid $gray-800;
      }

      td {
        padding: 2px 5px;
        color: $white;
      }

      img {
        width: 13px;
        height: 13px;
        margin-right: 2px;
        margin-left: 0px;
        object-fit: contain;
      }

      .question {
        width: 12px;
        height: 12px;
        padding-left: 8px;
        float: none;
      }

      @include for-size(tablet-portrait-up) {
        td {
          padding: 15px 10px;
        }

        .domain {
          max-width: auto;
        }

        .score.d30 {
          display: table-cell;
        }
      }
    }
  }
}
