@use '../../shared/css/variables' as *;

.future-data {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  .clock-icon {
    width: 16px;
    height: 16px;
    color: $black-50;
  }
}
