@use '../../shared/css/variables';

.dex-pairs-container {
  padding: 64px 0 100px;

  @include variables.for-size(desktop-up) {
    padding-top: 80px;
  }

  .pairs-table {
    position: relative;

    table {
      width: 100%;
      margin: auto;
      border-collapse: collapse;
      font-size: 14px;

      th {
        @include variables.bold;

        border-bottom: 1px black solid;
        color: variables.$white;
        font-size: 18px;
        text-align: center;
      }

      td {
        width: 200px;
        padding: 2px 5px;
        border-top: 1px solid variables.$black-70;
        border-bottom: 1px solid variables.$black-70;
        color: variables.$black-40;

        .loader {
          border-bottom: 1px solid variables.$black;
        }
      }

      .pair {
        @include variables.bold;

        color: variables.$white;
        font-size: 18px;
        text-align: left;
      }

      .issuer-address {
        text-align: center;

        a {
          font-size: 14px;
          @include variables.bold;
        }
      }

      .pair-stats-container {
        table {
          width: 100%;
        }

        td {
          border: none;
        }

        .low {
          text-align: left;
        }

        .low-num {
          color: variables.$green-50;
        }

        .high-num {
          color: variables.$orange-50;
        }

        .high {
          text-align: right;
        }
      }
    }

    .no-pairs-message {
      padding: 16px;
      color: variables.$black-50;
      font-size: 16px;
      text-align: center;
    }
  }
}
