@use '../../css/variables' as *;

.currency-switch {
  display: flex;
  align-items: center;
  gap: 12px;

  .currency-label {
    color: $black-40;
    font-size: 16px;
    @include medium;

    &.active {
      color: $white;
      @include bold;
    }
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    cursor: pointer;

    input {
      width: 0;
      height: 0;
      opacity: 0;
    }

    .toggle-slider {
      position: absolute;
      border-radius: 24px;
      background-color: $blue;
      inset: 0;
      transition: background-color 0.2s;

      &::before {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $white;
        content: '';
        transition: transform 0.2s;
      }
    }

    input:checked + .toggle-slider::before {
      transform: translateX(16px);
    }
  }
}
