@use '../shared/css/variables';

.app {
  flex-grow: 1;

  .content {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    @include variables.for-size(desktop-up) {
      min-height: variables.$min-height;
    }
  }

  .content,
  .footer {
    min-width: variables.$min-width;
  }
}
