@use 'sass:color';
@import '../shared/css/variables';

.ledger-page {
  margin: 0 auto;

  @include for-size(tablet-landscape-up) {
    width: 600px;
  }
  @include for-size(desktop-up) {
    width: 772px;
  }
  @include for-size(big-desktop-up) {
    width: 864px;
  }

  .loader {
    position: absolute;
    z-index: 1;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.show {
      opacity: 0.8;
      transition: opacity 0.15s ease;
    }
  }

  .ledger-nav {
    padding: 8px 4px;
    margin-top: 40px;
    margin-bottom: 60px;
    color: $black-40;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 15px;

    svg {
      position: relative;
      height: 8px;
      color: $black-40;
    }

    .previous {
      padding: 6px 16px;
      border: 1px solid $black-40;
      border-radius: 100px;
      float: left;

      svg {
        margin-right: 16px;
      }

      &:focus,
      &:hover {
        background-color: $black-70;
      }
    }

    .next {
      padding: 6px 16px;
      border: 1px solid $black-40;
      border-radius: 100px;
      float: right;

      svg {
        margin-left: 16px;
      }

      &:focus,
      &:hover {
        background-color: $black-70;
      }
    }
  }

  .ledger-header {
    margin: 0px auto;

    .ledger-info {
      overflow: hidden;
      padding: 10px 8px;

      @include for-size(desktop-up) {
        padding: 10px 0px;
      }

      .closed-date,
      .ledger-hash {
        overflow: hidden;
        padding-top: 48px;
        margin: auto;
        color: $black-30;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .closed-date {
        color: $black-30;
        font-size: 10px;

        @include for-size(desktop-up) {
          float: right;
        }
      }

      .ledger-hash {
        @include for-size(desktop-up) {
          float: left;
        }

        @include for-size(big-desktop-up) {
          font-size: 12px;
        }
      }

      .summary {
        display: block;
        overflow: hidden;

        .title {
          color: $black-40;
          font-size: 10px;
          letter-spacing: 0px;
          line-height: 18px;
          text-transform: uppercase;
          @include medium;

          @include for-size(desktop-up) {
            font-size: 10px;
            line-height: 20px;
          }
        }

        .value {
          color: $white;
          @include bold;
        }

        .ledger-cols {
          display: table;
          width: 100%;
          margin-bottom: 20px;
          text-align: right;

          .ledger-col {
            display: table-cell;

            &:first-child {
              text-align: left;
            }

            @include for-size(desktop-up) {
              width: auto;
              margin-right: 0px;
              margin-left: 40px;
            }
            @include for-size(big-desktop-up) {
              margin-right: 0px;
              margin-left: 40px;
            }

            .value {
              margin-top: -4px;
              font-size: 18px;
              line-height: 28px;

              @include for-size(desktop-up) {
                margin-top: -8px;
                font-size: 18px;
                line-height: 36px;
              }
            }

            &.ledger-index .value {
              margin-top: 4px;
              font-size: 42px;
            }
          }
        }
      }
    }
  }

  .transaction-table {
    padding: 30px 0;

    .col-type,
    .col-fee,
    .col-sequence {
      flex: none;
    }

    .col-type {
      width: 175px;

      @include for-size(big-desktop-up) {
        width: 210px;
      }
    }

    .col-account {
      display: block;
      text-align: right; // on mobile it is the last column

      @include for-size(tablet-portrait-up) {
        text-align: left;
      }
    }

    .col-sequence {
      display: none;

      @include for-size(tablet-landscape-up) {
        display: inline-block;
        width: 85px;
      }

      @include for-size(desktop-up) {
        width: 100px;
      }
    }

    .col-fee {
      display: none;
      text-align: right;

      @include for-size(tablet-portrait-up) {
        display: inline-block;
        width: 100px;
      }
    }

    .upper {
      .col-account {
        font-size: 10px;

        @include for-size(tablet-portrait-up) {
          font-size: 12px;
        }
      }

      .col-sequence,
      .col-fee {
        color: $black-40;
      }
    }
  }
}
