@use '../shared/css/variables' as *;

.paystring-page {
  width: 100%;
  margin: 24px auto 0px;

  .loader {
    min-height: 100px;
  }

  @include for-size(tablet-landscape-up) {
    width: 552px;
    margin: 0px auto;
  }

  @include for-size(desktop-up) {
    width: 1140px;
  }
}
