@use 'src/containers/shared/css/variables';

.balance-selector {
  position: relative;
  display: block;
  width: 100%;

  @include variables.for-size(tablet-landscape-up) {
    width: 280px;
  }

  .dropdown-toggle {
    padding: 12px 16px;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-item {
    display: flex;
  }

  .currency {
    font-weight: bold;
  }

  .total-balance {
    margin-left: auto;
    color: variables.$black-40;
  }
}
