@import '../shared/css/variables';

/* Header */
.header {
  position: sticky;
  z-index: 20;
  top: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 16px 16px;
  background: $black;
  gap: 8px;
}
