@import '../shared/css/variables';

.menu {
  display: none;
  margin-bottom: -1px;
  color: $gray-400;
  font-size: 14px;
  letter-spacing: 0px;
  @include medium;

  @include for-size(desktop-up) {
    display: flex;
    flex-grow: inherit;
    align-content: center;
    justify-content: space-around;
  }

  .horizontal {
    border-bottom: 2px solid transparent;
    margin-bottom: 8px;
  }

  .vertical {
    padding: 0px 9px 0px 7px;
  }

  .menu-item {
    display: inline-block;
    text-align: center;

    :hover,
    :focus {
      color: $white;
    }

    a {
      display: block;
      padding: 26px 24px 12px;
      margin-bottom: -1px;
      color: inherit;
    }
  }

  .nested-menu {
    position: relative;
    display: inline-block;
    padding: 8px 20px 18px 16px;
    margin-left: 4px;
    cursor: pointer;

    .title {
      margin-right: 10px;
    }

    .arrow {
      position: relative;
      top: 1px;
    }

    .menu-item {
      display: block;
    }

    .nested-items {
      position: absolute;
      top: 35px;
      left: -8px;
      padding: 8px 1px;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0px 0px 5px 0px rgb(35 41 47 / 24%);

      .menu-item {
        text-align: left;
      }
    }

    .vertical {
      margin-bottom: 1px;

      &:hover,
      &:focus {
        background-color: $gray-800;
        color: $gray-800;
      }
    }
  }

  .horizontal-selected,
  .vertical-selected {
    color: $white;
  }

  .vertical-selected {
    background-color: $gray-800;
  }

  .horizontal-selected {
    .dot {
      width: 6px;
      height: 6px;
      margin-left: 50%;
      background-color: $green;
      border-radius: 100%;
    }

    :hover {
      color: $white;
    }

    :focus {
      color: $white;
    }
  }
}
