@import '../shared/css/variables';

.menu {
  display: none;
  margin-bottom: -1px;
  color: $black-40;
  font-size: 14px;
  letter-spacing: 0px;
  @include medium;

  @include for-size(desktop-up) {
    display: flex;
    flex-grow: inherit;
    align-content: center;
    justify-content: space-around;
  }

  .menu-item {
    display: inline-block;
    text-align: center;
    white-space: nowrap;

    :hover,
    :focus {
      color: $white;
    }

    a {
      display: block;
      padding: 26px 24px 12px;
      margin-bottom: -1px;
      color: inherit;
    }
  }
}
