@import '../shared/css/variables';

.search {
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    padding: 8px 16px 8px 42px;
    border: 1px solid $black-50;
    background: $black url('../shared/images/search.svg') no-repeat 16px center;
    background-size: 12px;
    color: $white;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-overflow: ellipsis;
    @include regular;

    &::placeholder {
      color: $white;
    }
  }
}

.search:not(:focus-within) .search-results {
  display: none;
}

// Only show search bar when we know which network to query
.header-no-network {
  .search {
    display: none;
  }
}
