@import '../shared/css/variables';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid $black-80;
  margin: 0 10%;

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
    }
  }

  .footer-link-section {
    padding-top: 40px;
  }

  .footer-section-header {
    margin-bottom: 24px;
    color: $white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 20px;
    text-align: left;
  }

  .footer-link {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 21px;
    text-align: left;
    text-decoration: none;

    // Hide external link icon for footer
    &::after {
      content: none;
    }
  }

  .footer-branding {
    margin-top: 40px;
  }

  .logo {
    margin-bottom: 11px;
    color: $white;
    font-size: 14px;
    @include regular;

    @include for-size(desktop-up) {
      display: inline-block;
    }

    .text {
      display: inline-block;
      padding: 7px 0px;
    }

    .image {
      width: 130px;
      margin: 0px 8px -1px 0px;
      vertical-align: bottom;
    }
  }

  .language-container {
    position: relative;
    display: none; // hide translation options for now
    width: 170px;
    height: 25px;
    margin: 20px auto;

    @include for-size(desktop-up) {
      margin: 4px 0px;
      float: right;
    }

    .language,
    .language * {
      outline: none !important; // remove blue outline in click and focus
    }

    .language {
      position: absolute;
      width: 100%;
      border: 1px solid $black-20;
      border-radius: 2px;
      background: $black;
      color: $black-70;
      cursor: pointer;
      text-align: left;
      @include bold;

      &.open {
        padding: 8px 0px;
      }

      .language-item-collapsed,
      .language-item {
        display: flex;
        width: calc(100% - 16px);
        flex-direction: row;
        padding: 4px 8px;
        color: $black-50;
        font-size: 14px;
        @include medium;

        .flag {
          position: relative;
          width: 24px;
          height: 16px;
          margin-right: 8px;
        }

        .title {
          position: relative;
          top: -2px;
          height: 14px;
          padding: 1px;
          vertical-align: top;
        }

        .down {
          position: absolute;
          top: 6px;
          right: 5px;
          width: 20px;
          height: 14px;
        }

        .check {
          width: 16px;
          height: 14px;
          margin-left: 3px;
        }

        &.selected {
          background-color: $black;
          box-shadow: none;
        }
      }

      .language-item:hover {
        box-shadow: none;
        color: $black-90;
      }

      .language-item-collapsed:hover {
        color: $black-90;
      }
    }
  }

  .copyright {
    margin-top: 20px;
    color: $black-40;
    font-size: 12px;
    @include medium;

    @include for-size(desktop-up) {
      width: 320px;
      margin-top: 8px;
      clear: right;
      float: right;
      text-align: right;
    }

    .link {
      color: inherit;
      text-decoration: none;
    }
  }
}
