@use '../../../shared/css/variables' as *;
@use '../../../shared/css/table';

.action-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    border: 1px solid $green-60;
    border-radius: 100px;
    background-color: $green-70;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;

    @include semibold;
  }

// Add spacing between action and timestamp columns
.tx-action {
  padding-right: 16px;

  @include for-size(phone-only) {
    padding-right: 12px;
  }
}
