@import '../shared/css/variables';

.simple-body {
  .rows {
    .partial-row {
      display: flex;
      overflow: hidden;
      flex-grow: 1;
      padding-top: 20px;
      padding-left: 5px;
      color: #944;
      float: right;
      font-size: 14px;
      font-style: italic;
      text-align: right;
      vertical-align: middle;
      @include regular;
    }

    .row {
      .value {
        .currency {
          display: block;
          margin: -1px 0px -16px;
          color: $gray-400;
          font-size: 11px;
          @include medium;

          .account {
            font-size: inherit;
            line-height: inherit;
            vertical-align: bottom;
          }
        }

        .dt {
          display: inline-block;
          color: $gray-400;
          font-size: 12px;
        }

        .signers {
          margin: 0px;
          list-style: none;
        }

        &.partial,
        &.closed,
        &.unset {
          color: #944;
          font-size: 14px;
          font-style: italic;
          @include regular;
        }

        &.flag {
          color: $blue-grey;
          font-size: 14px;
          font-style: italic;
          @include regular;
        }

        &.condition,
        &.fulfillment,
        &.tx,
        &.channel {
          width: calc(100% - 120px);
          color: $gray-400;
          font-size: 14px;
          white-space: normal;
          word-break: break-all;
          @include regular;
        }
      }
    }

    .not-supported {
      padding: 50px;
      color: #c97;
      font-size: 14px;
      text-align: center;

      .type {
        margin: 0 5px;
        @include bold;
      }
    }
  }
}
