@import '../shared/css/variables';

.simple-body-tx {
  .rows {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 16px;
    float: left;

    @include for-size(desktop-up) {
      width: calc(100% - 276px - 48px);
      padding-bottom: 60px;
      border-right: 1px solid $gray-800;
    }

    .partial-row {
      display: flex;
      overflow: hidden;
      flex-grow: 1;
      padding-top: 20px;
      padding-left: 5px;
      color: #944;
      float: right;
      font-size: 14px;
      font-style: italic;
      text-align: right;
      vertical-align: middle;
      @include regular;
    }

    .row {
      display: flex;
      overflow: hidden;
      padding: 0px 15px;
      padding-left: 0px;
      border-bottom: 1px solid $gray-800;

      @include for-size(tablet-portrait-up) {
        padding: 15px;
        padding-left: 0px;
      }

      .label {
        display: flex;
        flex-grow: 1;
        align-items: center;
        color: $white;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        @include regular;

        &.unauthorize {
          color: #944;
        }
      }

      .account {
        display: inline-block;
        overflow: hidden;
        font-size: 14px;
        line-height: 21px;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }

      .value {
        flex-grow: 1;
        padding-left: 5px;
        color: $white;
        float: right;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        vertical-align: middle;
        @include medium;

        .currency {
          display: block;
          margin: -1px 0px -16px;
          color: $gray-400;
          font-size: 11px;
          @include medium;

          .account {
            font-size: inherit;
            line-height: inherit;
            vertical-align: bottom;
          }
        }

        .dt {
          display: inline-block;
          color: $gray-400;
          font-size: 12px;
        }

        .signers {
          margin: 0px;
          list-style: none;
        }

        &.partial,
        &.closed,
        &.unset {
          color: #944;
          font-size: 14px;
          font-style: italic;
          @include regular;
        }

        &.flag {
          color: $blue-grey;
          font-size: 14px;
          font-style: italic;
          @include regular;
        }

        &.condition,
        &.fulfillment,
        &.tx,
        &.channel {
          width: calc(100% - 120px);
          color: $gray-400;
          font-size: 14px;
          white-space: normal;
          word-break: break-all;
          @include regular;
        }

        &.date {
          color: $gray-400;
          @include regular;
        }
      }

      &.empty {
        color: $orange2;
        font-style: italic;
        text-align: center;
      }
    }

    .not-supported {
      padding: 50px;
      color: #c97;
      font-size: 14px;
      text-align: center;

      .type {
        margin: 0 5px;
        @include bold;
      }
    }
  }

  .index {
    width: 275px;
    padding: 16px;
    border-left: 1px solid $gray-800;
    margin-left: -1px;
    float: right;

    .title {
      color: $gray-400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
    }

    .val {
      overflow: hidden;
      margin-bottom: 32px;
      color: $white;
      font-size: 14px;
      line-height: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include medium;

      &.account {
        font-size: 12px;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}
