@import '../shared/css/variables';

$subdued-color: $black-40;

.simple-body-tx {
  .rows {
    padding-top: 0px;

    .partial-row {
      display: flex;
      overflow: hidden;
      flex-grow: 1;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-left: 5px;
      color: $red-dark;
      float: right;
      font-size: 14px;
      font-style: italic;
      text-align: right;
      vertical-align: middle;
      @include regular;
    }

    .row {
      .value {
        text-align: right;

        .grant {
          .account {
            padding-bottom: 8px;
            font-size: 11px;
            text-align: right;
            @include medium;
          }
        }

        .amount {
          text-align: right;

          .amount-localized {
            display: block;
          }

          .one-line {
            display: flex;
          }

          .currency {
            display: block;
          }

          .currency,
          .one-line {
            margin: -1px 0px -16px;
            color: $subdued-color;
            font-size: 11px;
            text-align: right;
            @include medium;

            .account {
              font-size: inherit;
              line-height: inherit;
              vertical-align: bottom;
            }
          }

          .one-line.list {
            display: block;
            margin: -1px 0px 0px;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }

        &.partial,
        &.closed,
        &.unset {
          color: $red-dark;
          font-size: 14px;
          font-style: italic;
          @include regular;
        }

        &.flag {
          color: $blue-purple-30;
          font-size: 14px;
          font-style: italic;
          @include regular;
        }

        &.condition,
        &.fulfillment,
        &.tx,
        &.channel {
          width: calc(100% - 120px);
          color: $subdued-color;
          font-size: 14px;
          white-space: normal;
          word-break: break-all;
          @include regular;
        }
      }

      &:first-child {
        padding-top: 40px;
      }
    }

    .error {
      padding: 50px;
      color: $orange-40;
      font-size: 14px;
      text-align: center;

      .type {
        margin: 0 5px;
        @include bold;
      }
    }

    .group {
      margin: 16px 0 16px -16px;
      background: rgba($black-80, 0.7);
      gap: 15px;

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .group-title {
        display: block;
        flex-direction: row;
        padding: 16px 0 0 16px;
        color: $black-40;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .row {
        padding: 16px 28px 12px 16px;

        &:last-child {
          padding-bottom: 16px;
          border: none;
        }
      }
    }
  }
}
