@import '../shared/css/variables';

.transaction {
  position: relative;
  max-width: 912px;
  min-height: 600px;

  @include for-size(tablet-landscape-up) {
    width: 584px;
    margin: 0 auto;
  }

  @include for-size(desktop-up) {
    width: 820px;
  }

  @include for-size(big-desktop-up) {
    width: 912px;
  }

  .loader {
    position: absolute;
    z-index: 1;
    top: 0px;
  }

  .summary {
    padding: 0 16px 87px 0;

    .type {
      display: inline-block;
      margin-bottom: 24px;
      color: $white;
      font-size: 42px;
      @include bold;
    }

    .txid {
      .title {
        @include semibold;
      }

      display: flex;
      overflow: hidden;
      margin-top: 8px;
      color: $black-40;
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 20px;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      @include medium;
    }

    .tx-status {
      margin-left: 15px;
    }
  }

  .tab-body {
    .json-view {
      overflow: hidden;
      margin-bottom: 40px;
      font-size: 12px;
      letter-spacing: 0px;

      svg {
        height: 14px !important;
      }

      .jv-indent {
        padding: 1px 5px 1px 15px !important;
      }
    }
  }
}
