# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main, staging ]
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.20.0]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup npm version 8
        id: npm8
        run: |
          npm i -g npm@8 --registry=https://registry.npmjs.org
          echo "::set-output name=npmlocation::$(which npm)"

      - name: Cache npm 8 install
        id: cache-npm
        uses: actions/cache@v2
        env:
          cache-name: cache-npm-8
        with:
          path: ${{ steps.npm8.outputs.npmlocation }}
          key: ${{ runner.os }}-npm-${{ env.cache-name }}-${{ hashFiles(steps.npm8.outputs.npmlocation) }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ env.cache-name }}-
            ${{ runner.os }}-npm-

      - name: Cache npm 8 install
        id: cache-npm
        uses: actions/cache@v2
        env:
          cache-name: cache-npm-8
        with:
          path: /opt/hostedtoolcache/node/14.20.0/x64/bin/npm
          key: ${{ runner.os }}-npm-${{ env.cache-name }}-${{ hashFiles('/opt/hostedtoolcache/node/14.20.0/x64/bin/npm') }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ env.cache-name }}-
            ${{ runner.os }}-npm-
      - name: Cache npx 8 install
        id: cache-npx
        uses: actions/cache@v2
        env:
          cache-name: cache-npx-8
        with:
          path: /opt/hostedtoolcache/node/14.20.0/x64/bin/npx
          key: ${{ runner.os }}-npx-${{ env.cache-name }}-${{ hashFiles('/opt/hostedtoolcache/node/14.20.0/x64/bin/npx') }}
          restore-keys: |
            ${{ runner.os }}-npx-${{ env.cache-name }}-
            ${{ runner.os }}-npx-

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        continue-on-error: true
        name: Setup npm version 8
        id: npm8
        run: |
          npm i -g npm@8 --registry=https://registry.npmjs.org

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # caching node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-

      - name: Install Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: npm install

      - run: npm run test:all
        env:
          REACT_APP_VALIDATOR: vl.ripple.com
          REACT_APP_RIPPLED_WS_PORT: 51233
          REACT_APP_RIPPLED_HOST: fake.rippled.example.com
          REACT_APP_MAINNET_LINK: mainnet.example.com
          REACT_APP_TESTNET_LINK: testnet.example.com
          REACT_APP_SIDECHAIN_LINK: sidechain.example.com
